[2017-01-29 05:46] Spomky commented on #115
The purpose of the bundles are different.
This one helps you to delegate access on resources throughout the OAuth2 framework protocol and the one you mentioned provides an user authentication layer based on Json Web Tokens.

[2017-01-31 14:12] maltehuebner commented on #279
+1

[2017-02-01 15:02] mangelsnc commented on #450
Hi,

I'm in the same case, as @justpie anyone knows anything about this? I need to use it on a REST API and don't want to store my secret in the Javascript code.

What's the best way to protect the API if implicit grant type is not an option?

[2017-02-02 09:09] dkarlovi opened #453 "[Security] Require the "state" param by default"
Currently, the bundle allows for auth requests to be made without the "state" param which is technically correct as [it is not required, only recommended](https://tools.ietf.org/html/rfc6749#section-4.1.1).

But, it's a [very strong recommendation](http://www.twobotechnologies.com/blog/2014/02/importance-of-state-in-oauth2.html) (even [in the specification](https://tools.ietf.org/html/rfc6749#sect

[2017-02-02 10:33] Spomky commented on #453
Agreed.

I guess the modification to perfom is (at least) to set the `enforce_state` parameter to `true` in the [configuration file](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/DependencyInjection/Configuration.php#L100) or to force this parameter in the [bundle extension](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/DependencyInjection/FOSOAuthServ

[2017-02-12 15:43] gabykant commented on #115
I'm still asking myself why can't I just ignore the **grant_type, client_id and client_secret** ?
Because we already have **username** and **password** as auth parameters.
Can someone explains this to me please ?

[2017-02-12 21:41] Spomky commented on #115
The key parameter `grant_type` is required by the specification. With the Password grant type, its value must be `paswword`.
`client_id` and `client_secret` are for the client authentication. Not mandatory if the client is authenticated through the basic authentication scheme for example.
The `username` and `password` are used to identify the resource owner and are therefore mandatory.

[2017-02-14 17:44] DavidGarciaCat opened #456 "Authentication via HTTP Header"
Hello,

I was wondering how I can use this bundle to integrate an API authentication based on FOSRestBundle. Currently I need to get an Access Token sending my username/password to the OAuth endpoint, and then pass the `?access_token=...` query string to each endpoint that expects a logged in user. I think use an HTTP Header when I send the request is cleaner, and will improve the UX regarding ext

[2017-02-15 15:45] chmielot commented on #450
+1

[2017-02-15 16:17] chmielot commented on #450
@Spomky I have a REST-API and I want to publish a native mobile device app that is using it. The REST-API is basically public and anybody could use it. I need the implicit grant for the following flow:
App: /authorize?client_id=xyz&grant_type=token
REST-service: returns an access token in a JSON response.
There is a contract between the REST-Service and the app that the app must store the never ex

[2017-02-16 08:32] Spomky commented on #450
In this case there is no need to issue tokens.

With the Client Credentials Grant Type, OAuth2 designed for that purpose, but it is like killing a fly with a sledgehammer. What I suggest you is to simply use Json Web Tokens (JWT) instead of this bundle.
The app will generate a JWS (signed with a key shared between the app and the server) and send it on each API request. The Resource server just ha

[2017-02-16 09:10] chmielot commented on #450
I don't fully agree. It is everywhere discouraged to save the client secret in a native mobile app which is what pointed me to the implicit grant type. On the other hand it is clear that it doesn't matter. The client secret can be treated just like the client_id which is "public" so the flow fits as well. If I insist on using Oauth2 for my purpose and I would go for the Client Credentials Grant Ty

[2017-02-20 15:34] chmielot commented on #402
I just wanted to share my (alternative/cleaner?) solution to overwrite the `createAccessToken` method of the `OAuth2` library class:

1. Create a compiler pass: http://symfony.com/doc/current/service_container/compiler_passes.html and http://symfony.com/doc/current/bundles/override.html#services-configuration
[code]
2. Extend your client with an `allowedScopes` field of type array (will be saved i

[2017-02-21 07:59] Spomky commented on #450
You are right, the use of confidential clients on native mobile applications is discouraged [because of possible threats](https://tools.ietf.org/html/rfc6819#section-4.1). However, if you implement countermeasures then nothing prevent you from using those clients in such context.

According to the explanation you provided earlier, then it appears that OAuth2 could be interesting as you do not need

[2017-02-28 16:05] ziobudda commented on #279
Any news about this problem ?

[2017-03-03 14:45] geekdevs commented on #417
@Spomky I am trying to do the same thing now, but this part looks confusing:

How do I set up this relationship? Of course I can add extra fields to my schema, but how do I get FOSOAuthServerBundle to understand it and assign to the token during authentication?

[2017-03-03 15:43] geekdevs commented on #369
@luispabon why new grant type? Something like this works just fine (if you create user with grant type `password`):

[code]

Or you can avoid using username and password with `client_credentials` grant. The only thing I am currently struggling to find though is how to get user linked in this case.

Does anyone have and idea? I.e. having oauth client per user and when you login as a client you get

[2017-03-07 10:01] wadjeroudi commented on #115
@Spomky what is the status about your new library https://github.com/OAuth2-Framework/server-library
Is there any roadmap for the replacement of fosoauthserver ?

[2017-03-07 10:08] Spomky commented on #115
Hi @wadjeroudi,

I propose for everybody that is interested in this library to discuss on [the dedicated Gitter room](https://gitter.im/OAuth2-Framework/Lobby).

[There was a discussion about an hypothetical replacement of this bundle](https://github.com/FriendsOfSymfony/friendsofsymfony.github.com/issues/47#issuecomment-59279493), but there is not roadmap for that and, for many reasons, I am not

[2017-03-07 10:20] wadjeroudi commented on #115
Ok thx.
What is your advice if you need an oauth server for a webapp using grant type password ?
Switch to an other bundle ?

[2017-03-07 15:16] oslanier commented on #437
same question here..!!! any news??

[2017-03-16 21:15] vooxo commented on #219
I was also looking for this and found the way on http://matkodjipalo.com/index.php/2016/08/10/symfony-rest-api-user-login/

[2017-03-20 12:31] healerz opened #458 "Redirect url sanitization strips umlauts (öäü)"
The php function filter_var_array() with flag FILTER_SANITIZE_URL strips umlauts from the input string. But umlauts actually are valid url characters.
I suggest to use htmlspecialchars() function instead to sanitize the redirect url.
Or nothing at all, the requested redirect uri gets checked against the redirect url of the registered client anyway.

[2017-03-20 13:26] healerz commented on #458
moved issue to FriendsOfSymfony/oauth2-php

[2017-03-20 13:26] #458 closed

[2017-04-10 11:15] t3ran13 commented on #279
\+1

[2017-04-14 18:51] netmikey opened #460 "URL Encoding issue in redirect_url check"
I am trying to use a `redirect_url` that contains query parameters with the Authorization Code Grant flow. The redirects in the browser succeed, here is what chrome is requesting:

    http://127.0.0.1:8080/app_dev.php/oauth/v2/auth?client_id=39691&response_type=code&redirect_uri=http://127.0.0.1:8091/authResponse?continue%3Dhttp://localhost:4200/assets/oauth.html%26client_id%3D39691

So the value

[2017-04-16 09:26] Spomky commented on #460
I think your redirect uri should be `http%3A%2F%2F127.0.0.1%3A8091%2FauthResponse%3Fcontinue%253Dhttp%3A%2F%2Flocalhost%3A4200%2Fassets%2Foauth.html%2526client_id%253D39691` when passed as a query parameter.

Could you try with this value?

[2017-04-16 10:11] netmikey commented on #460
I'm using Spring's `UriComponentsBuilder` to build the uri. Apparently,
they encode according to RFC 3986, see http://stackoverflow.com/a/21460758
- So I think the representation should be fine.

I can try your suggestion later, but I'm not at home right now.

On Sun, 16 Apr 2017 at 11:26, Spomky <notifications@github.com> wrote:

[2017-04-16 10:21] Spomky commented on #460
This bundle and the library uses the `[urlencode](http://php.net/manual/en/function.urlencode.php)` function and not the `[rawurlencode](http://php.net/manual/en/function.rawurlencode.php)` one which is compatible with the RFC3986.

[2017-04-16 11:05] netmikey commented on #460
The `redirect_url` comes in as a query parameter, which itself is
url-encoded. The problem is that it doesnt get **decoded** in the token
endpoint - at least I didnt seem to find where?

On Sun, 16 Apr 2017 at 12:21, Spomky <notifications@github.com> wrote:

[2017-04-16 12:07] netmikey commented on #460
When I modify the call to validateRedirectUri  from the linked code in my
original post like this, it fixes the issue for me (added call to
urldecode):

$this->validateRedirectUri(
urldecode($input["redirect_uri"]),
$authCode->getRedirectUri())

On Sun, 16 Apr 2017 at 13:05, Mike M. <netmikey@gmail.com> wrote:

[2017-04-19 12:12] netmikey commented on #460
I've submitted a PR to the oauth2-php repository which fixes the issue for me and doesn't break any tests. I'd love to get some feedback on this!

// cc @GuilhemN

[2017-04-24 11:16] xoniq opened #461 "Disable authorization for 'registration' type POST"
How can I avoid authorization checks when trying to register using a POST action? Currently it throws "OAuth2 authentication required", but I want to allow people to register using the API.

[2017-04-26 04:05] stesvis commented on #329
Sorry i am new to this and i have the same problem.
I managed to get the token using username, password and grant_type=password.

I can't access my protected endpoints, and I don't understand what I am missing.

[2017-04-26 22:11] stesvis commented on #100
I tried the above, but when i hit the endpoint from a browser i always get the

error. Does anyone know how to get it to work?

[2017-04-30 11:22] tcitworld commented on #309
This could be made easily. Anyone @Spomky @stof @GuilhemN ?

[2017-04-30 11:44] GuilhemN commented on #309
I don't this well enough to have an opinion but if we have enough positive reviews I can merge it.

[2017-05-03 13:44] druby-luke commented on #319
@sgasser I'm fairly new to Symfony & bundles, could you explain how you got the IS_AUTHENTICATED_FULLY working?

[2017-05-16 21:53] fabionvs opened #464 "Integrating with LDAP"
Hello,
I am implementing FosOAuthServerBundle using Symfony3 and I am having some problems on using with LdapToolsBundle. I have created a User entity without FosUserBundle and I am planning to get some Ldap informations and store them in this User entity.
` security:

    hide_user_not_found:  true
    encoders:
        # This is the default user class returned from the LDAP provider below

[2017-05-18 09:08] vincentchalamon opened #465 "Impossible to disable authorize"
According to [configuration](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/DependencyInjection/Configuration.php#L65), it should be possible to disable `authorize` key. But if I do, I get the following error:

I'm trying to migrate to Symfony 3.3, which disables forms by default, and I don't want forms & authorize neither (it's a private API).

[2017-05-21 11:49] luchianenco commented on #443
as you stated, the problem should be in Documents. There is no defined property $user in AccessToken, AuthCode, RefreshToken Documents

[2017-05-29 16:21] Linkinou opened #467 "Using FOSOAuthServerBundle without FOSUserBundle"
Hello !

I need some information about how to use FOSOAuthServerBundle without FOSUserBundle.

As I understand I need a custom UserProvider (which I've created using http://symfony.com/doc/current/security/custom_provider.html) and I also need something to authenticate the user. I wanted to build my own authenticator using GuardAuthenticatorInterface.

But I don't know how to fit my custom authent

[2017-05-31 10:25] TNAJanssen commented on #465
https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/462

[2017-06-05 02:51] summermick commented on #378
I also got this issue when installing with api-platform, am using
` "php": ">=7.0",
        "symfony/symfony": "3.2.*",
        "api-platform/core": "^2.0",
        "doctrine/orm": "^2.5",
        "doctrine/doctrine-bundle": "^1.6",
        "doctrine/doctrine-cache-bundle": "^1.2",
        "symfony/swiftmailer-bundle": "^2.3",
        "symfony/monolog-bundle": "^3.0",
        "sensio/distribution-

[2017-06-16 02:18] null-ref-0000 opened #469 "Unauthorized errors with grant type client_credentials"
**Is it possible to setup FOSOAuth bundle without requiring a user and password to obtain a token?**

**I have been able to obtain a access_token without a user name and password.**

http://127.0.0.1:8000/oauth/v2/token?client_id=XXX&client_secret=XXX&grant_type=client_credentials

**But when I attempt to use the access_token on an endpoint I get access denied response. I have tried setting access

[2017-06-18 02:31] #346 closed

[2017-07-04 20:03] fabrizio5 commented on #294
@Nightbr
Hi, i'd like to implement your server-side code but i don't undestand how i have to configure "FacebookGrantExtension" service in service.yml .
I tried this configuration:

`app.api.oauth.facebook_extension:
            class: AppBundle\OAuth\FacebookGrantExtension
            arguments:
                        - '@my.oauth_aware.user_provider.service'
                        - '@.....'

[2017-07-04 20:25] Nightbr commented on #294
Hey,
I'm using the HWIO bundle to manage external OAuth connection from config.yml.

So the resources owner services comes from HWIOAuthBundle.

Here is my configuration for Facebook and Google grant:

[code]
Look at the HWIOAuthBundle for more information:
https://github.com/hwi/HWIOAuthBundle/

[2017-07-04 21:12] fabrizio5 commented on #294
Thank you very much for your help! It works. 👍

[2017-07-08 16:39] Kubitini commented on #279
+1

[2017-07-11 18:16] cadavre commented on #388
For me – yes, it is. My case is to check if user has given role in DoctrineSubscriber for `preUpdate` event. I'm trying to check if particular user can edit only single value of an entity.

[2017-07-14 20:34] fabsalito commented on #279
Any news on this? +1

[2017-07-16 10:07] ducho opened #471 "AuthenticationSuccessHandler for token authentication"
First, sorry this is not real issue. But I would like to ask, if is possiblem to make AuthenticationSuccessHandler for token authentication without custom user manager ur provider.
Thx a lot!

[2017-07-19 07:18] adadgio commented on #256
Is someone working on this issue ? It is still well a problem...

[2017-07-19 12:11] adadgio opened #472 "OAuth Code -> Allow multiple redirect_uris"
How could we allow / wildcard redirect uri(s) in the Code entity, which would make it possible to use Javscript OAuth for web clients ? It's otherwise impossible because of URI mismatch in the following scenario:

Javascript pop up with authorize form -> redirect URI to your own server side login success page with javascript to close the popup (si redirect uri is one of the host domain), ask for a

[2017-07-19 12:15] adadgio opened #473 "Password and Implicit grant types"
Why is `client_secret` compulsory int he following requests ?

According to the OAuth specs, it shouldn't be...

This fails
[code]

Same for implicit grants...

[code]

[2017-07-19 13:13] #472 closed

[2017-07-26 13:33] ThomAille opened #474 "The Token access is not detected by Symfony but it is in the HTTP header"
Hi All,

I have set up an API which is protected in Oauth thanks to this bundle.
On another application I installed HwioauthBundle to make my authentication to my API
I get my access_token on my application.
However, when I retrieve the user information, my API tells me that I am not authenticated

I corrected the first error which was that apache rewrite the http header
In my Symfony profile I ha

[2017-07-29 09:44] BenoitDuffez commented on #264
What if one wants to use `client_credentials`? Is it not possible to have `user_id` not null with this kind of grant?

[2017-08-09 14:21] dennissvu commented on #382
I'm having the same issue. Did you manage to fix it?

[2017-08-10 11:08] dennissvu commented on #382
Fixed; firewall sorted as; api, main, oauth_auth, oauth_token

[2017-08-10 15:35] zquintana commented on #382
@dennissvu, yea I ended up fixing it in a similar fashion.

[2017-08-10 15:35] #382 closed

[2017-08-12 09:02] anjie886 commented on #152
Need to change the following code:
https://github.com/FriendsOfSymfony/oauth2-php/blob/master/lib/OAuth2.php #507
if ($token->hasExpired()) {

to changed:
if ($token->hasExpired() && $this->getVariable(self::CONFIG_ACCESS_LIFETIME)) {

tokens to never expire, is working.

[2017-08-17 07:53] licarigianluca opened #476 "request token with postman"
Hi,
I'm trying to configure Postman to " Get New Access Token" function in order to retrieve a token before calling a resource.

this is my security.yml

[code]
In the window where i put the authentication information I saw this line

theese are the authentication informations:

Auth URL: https://{{url}}/api/web/app_dev.php/oauth/v2/auth
Access Token URL: https://{{url}}/api/web/app_dev.php/oauth/

[2017-08-28 18:30] Sukhrob commented on #279
I think you can create a custom user provider and add checks there.

    // config.yml
    fos_oauth_server:
        ....
        service:
            user_provider: %your_service_name_here%

    // Custom UserProvider
    public function loadUserByUsername($username)
    {
        $repository = $this->entityManager->getRepository('YourBundle:User');
        $user = $repository->fetchActiveByUsern

[2017-08-31 20:40] AsmaaTahoon opened #477 "I need to override the error message structure as i need to add error code, any help please?"

[2017-09-01 09:22] GSokol opened #478 "Enable to specify user_checker in firewall settings"
In current realization the only symfony's system `security.user_checker` is provided to `OS\OAuthServerBundle\Security\Authentication\Provider\OAuthProvider`'s container. It's rather trickiy to inject there the custom one for the certain firewall area.

[2017-09-04 13:38] pzienowicz commented on #279
+1

[2017-09-04 13:39] patrykzurawik commented on #279
+1

[2017-09-09 16:39] jcfrane commented on #473
This fails on me too, but when I include clien_secret then it works?

Anyone has the solution yet?

One thing you can do now is to have a server as an intermediary between your actual app and your auth server. Then this intermediary server would be the actual client so you can safely keep your client_secret on the server. But this is not performant since you only want to have two legged flow.

[2017-09-15 10:29] Zuhayer commented on #367
oauth_token:
            pattern:    ^/oauth/v2/token
            security:   false

This is mentioned in the test (/vendor/friendsofsymfony/oauth-server-bundle/Tests/Functional/config/config.yml)

Is this a correct setting?

[2017-09-18 18:37] alexbonhomme commented on #467
Hey @Linkinou !

I was facing the same problem today. So basically you have to :

1. Create a service class who implements `UserProviderInterface` (gonna have to implements `loadUserByUsername(), refreshUser() and supportsClass()`
2. Configure your service in `services.yml`
3. Configure `user_provider` of oauth in `config.yml` with the name you gave to your service in `services.yml`
4. Eventually

[2017-09-27 16:12] fabsalito commented on #411
Custom grant-type?

Regards

[2017-09-30 12:51] BentCoder opened #480 "Obtaining Access Token exposes too much sensitive info"
Hi,

I'm wondering if the [blog post](http://www.inanzzz.com/index.php/post/qu4n/creating-a-symfony-oauth2-api-or-server-that-uses-password-grant-type) I'm following is implementing the `password` grant type wrong or I am too cautious, I don't know!

Obtaining Access Token is made with request below which works fine.
`
GET /oauth/v2/token?client_id=1_1pp47h1z902s8wwcgo0s08gccwo0gk044s40sowcosw0wgw

[2017-09-30 13:03] Spomky commented on #480
The client authentication (`client_id` and `client_secret`) is mandatory (see [RFC6749 section 2.3.1](https://tools.ietf.org/html/rfc6749#section-2.3.1)).
For the Resource Owner Password Credentials grant type, the `username` and `password` parameters are also mandatory (see [RFC6749 section 4.3.1](https://tools.ietf.org/html/rfc6749#section-4.3.1)).

What is not normal is that:

* The request MUS

[2017-09-30 14:07] BentCoder commented on #480
@Spomky Thanks for the great explanation. All the examples (those I've seen so far) using FOSOAuthServerBundle are same so they all obtain access token in same way which is unsecure/bad as you pointed out as well. I wonder what FOSOAuthServerBundle guys have got to say!?

FOSOAuthServerBundle guys - Is it possible to do what @Spomky says above. I've tried myself but it didn't work.

[2017-09-30 18:31] BentCoder commented on #480
I made it work but without `application/x-www-form-urlencoded` content-type. Having `username` and `password` as `form-data` works but still not perfect.

[2017-09-30 18:52] BentCoder commented on #480
OK. I managed to get it working as you described so closing.

[2017-09-30 18:52] #480 closed

[2017-10-13 08:09] DariuszLuber commented on #307
Any solution? I'm also want to extend return data.

[2017-10-19 03:38] DIOHz0r commented on #437
It's been almost a year since my last comment and it seems than this was forgotten.

[2017-10-19 08:57] Baachi opened #481 "DBAL Support"
Hey guys!

In one of my project we don't use any orm or propel. Only DBAL and we want to use this bundle for our authentication. Which seems to be possible, i only have to write my own `Manager`s and all components should work.

Problem is actually the [DI Configuration](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/DependencyInjection/Configuration.php#L33).

Any suggestion

[2017-11-15 14:27] dkarlovi commented on #365
[Example usage](https://bshaffer.github.io/oauth2-server-php-docs/overview/jwt-access-tokens/) of JWT as an access token shows you can use it as a pre-validation of the access token, no need to use it as "full" JWT.

Example:
1. I use `?access_token=a`, you need to do a full dispatch, database query etc to figure out my token is invalid, I get 401.
2. I then use `?access_token=b`, you need to do a

[2017-11-16 14:34] Thomas-Negrault commented on #402
Thank you for your solution @chmielot. For anyone looking to reproduce this behaviour here is what I added to the previous code (use of OAuth2Base + string in $scope annotation in order to remove idea inspection)

[code]

And to my bundle file:
[code]

[2017-11-17 14:35] kbardi opened #484 "Add custom attribute to token object"
Hi there, first of all, it's a great Bundle, so thanks!!

I've just followed [this doc about event dispatcher](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/Resources/doc/the_oauth_event_class.md) but I need to add an attribute to current token.

I've defined oauth_event_listener:
[code]

And I create OauthEventListener:
[code]

But for some reason it's not working, but it d

[2017-11-23 13:33] dkarlovi opened #487 "Access client information on each request"
After having obtained the access token on behalf of user/client combo, I'd like to access the information which client was issued the access token.

I'm trying to do this by adding a subscriber on `Symfony\Component\Security\Core\AuthenticationEvents::AUTHENTICATION_SUCCESS`, but there's no client information (only user). Looking at the source, there no place this info gets added, am I missing som

[2017-11-23 13:40] dkarlovi commented on #487
Closing as duplicate of #81.

[2017-11-23 13:40] #487 closed

[2017-11-23 13:42] dkarlovi commented on #81
There's a branch in the bundle, there's #188, why hasn't this been merged yet?

[2017-11-24 15:56] GuilhemN commented on #81
Sorry I don't have the time to review this bundle's PRs anymore... But I can add you as collaborator if you're willing to maintain this bundle.

[2017-11-24 16:13] dkarlovi commented on #81
I'll do my best, let's do it. 👍

[2017-11-24 16:17] GuilhemN commented on #81
Done :)

[2017-12-01 22:14] wackyMole commented on #476
Are you still having issues with this?

Postman recently released an update that changed the authentication stuff quite a bit. They no longer ask for the "Auth URL" when using "Client Credentials", for example.

I also noticed that your "Access Token URL" has a spelling error. Not sure if it's a typo when creating this issue, or the cause of your trouble. (`.../topken`)

[2017-12-06 00:37] Prometee opened #488 "Is this bundle still maintained ?"
Since one year no commits nor accepted PR, is this bundle still maintained ?

Is there an other bundle that already make the same job ? (one compatible with symfony 4 ?)

[2017-12-06 07:23] dkarlovi commented on #488
Hi, I've been added as a contributor a short while ago because I had similar concerns. As it stands, I plan to start development on it shortly, in the meantime review and merge PRs, do releases.

[2017-12-11 15:16] j-datadome commented on #488
Hi @dkarlovi

This bundle is very nice and we need it to be compatible with SF4 (as other people who wants to migrate from SF3 to SF4 I guess)
Of course I follow this related PR: https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/485

Do you know when it would be possible to do it?
Like @Prometee I'm starting to look for an alternative because this feature is a requirement for us to mig

[2017-12-11 15:19] dkarlovi commented on #488
Hi @j-datadome,

I'd like to see #485 merged ASAP, but currently it contains a BC break which needs to be addressed there. I'm currently switching from full time employment to being a freelance developer / consultant, which should leave me with more time doing OSS, hopefully. :)

[2017-12-11 15:26] j-datadome commented on #488
Hi @dkarlovi,

Thank you for replying!
Yes, I read the PR and the discuss into and I understand you'd like to fix it of course.
My concern is the delay to get it available as we need to switch to SF4 very, very soon. To be honest, this bundle is the only one which blocks the migration, but it is absolutely required, and, if possible, I'd like to keep it as it is very nice :-)

Well, hope you could

[2017-12-11 15:36] Prometee commented on #488
For me is also FOSUser that stop us from upgrading to sf4, but to wait, we update our projets to sf3.4 structure and configs so FOSRestBundle already work with 3.4, it need some manual configs before requiring the bundle but it work.

[2017-12-11 20:16] faelp22 opened #489 "Error accessing route fos_oauth_server_authorize - Call to a member function getUser() on null"
This problem is similar to #425, does anyone have an idea of what this might be?

[2017-12-11 20:21] faelp22 commented on #489
My Settings:

[code]

[2017-12-11 20:29] faelp22 commented on #489
[code]

[2017-12-12 11:20] dkarlovi commented on #489
@faelp22 could you provide a full stacktrace?

[2017-12-12 12:11] mvrhov commented on #488
I just went through something similar and there are 3 very popular oauth2 server implementations. This one, the one form [league](https://packagist.org/packages/league/oauth2-server) and [bshaffer](https://github.com/bshaffer/oauth2-server-bundle).
The league one doesn't have the bundle.
The bshaffer one also supports implict grant and a jwt one if one needs it.

[2017-12-12 12:53] vinoles opened #490 "problemas con refresh_token en oauth2"
Buen dia amigos le describo mi problema, intento hacer un refresh_token en oauth2, de este tipo ..

oauth/v2/token?grant_type=refresh_token&client_id=ddfdfdfdfdfdfd&client_secret=dfdfdfdfdfdfd&refresh_token=dfdfdfdfffffdfdf

y me da esta respuesta

{"code":500,"message":"Call to a member function getPublicId() on null"}

si alguien me puede ayudar se lo agradeceria ..

saludos ...

[2017-12-12 13:43] faelp22 commented on #489
@dkarlovi Thanks.

[code]

is this call ...->getToken() the same is returning null

[2017-12-12 13:53] faelp22 commented on #489
@dkarlovi

I've already tried calling the user in other ways like:
[code]
Or
[code]
But all of them are returning null and this form that is placed in the AuthorizeController is the best way.

Another observation:
I am logged into the system, but it is as if the authentication registered in the session was not reached.

And even if the system was not logged in, I should be directed to the login pa

[2017-12-12 20:54] faelp22 commented on #490
@vinoles  Puede colocar la pila "full stacktrace" de error entero?

Y si puedes poner tus dudas en inglés para que otras personas puedan ayudarte.

Otra cosa también coloque la lista con las versiones de FOS y la configuración
``` composer show  friendsofsymfony/* ```

ver issues #489 por ejemplo

y si quieres ver un proyecto que hice recientemente donde el "refresh_token" funciona normal ver ese

[2017-12-13 15:04] gaubej commented on #400
Is there someone to integrate my Pull Request ? After 1 year ?

[2017-12-13 15:06] gaubej opened #491 "[REUP] CouchDB Support"
One year ago, I made a pull request to integrate and support CouchDB.

Now CouchDB 2 is released, and my Pull Request still in pending state.

What can I do to integrate this ?

[2017-12-18 11:02] j-datadome commented on #488
@mvrhov thank you for the info
we gonna consider move to one of these implementations if it takes too much time to get the FOSOAuthServerBundle available

[2017-12-19 12:26] Sohorev commented on #488
Very need for SF4 support

[2017-12-22 13:59] ThibautAlgrin opened #493 "Unrecognized field with Symfony 3.4 with flex"
Hello everyone

I just started a new Symfony 3.4 project with Flex.
I followed the official documentation of this bundle but when I want to create a token `/oauth/v2/token` I have this error:" Unrecognized field: randomId "

Here are my configuration files:

[code]

[code]

[code]

Do you have an idea?

[2017-12-24 19:43] martinberlin opened #494 "Using grant_type => authorization_code state parameter cannot be larger als 15 characteres"
Hello and happy Christmas first of all!
I'm trying to implement Single-sign on for [Seafile](https://manual.seafile.com/deploy/oauth.html) using this Bundle, so far everything is working file except this:

Seafile generates an state value similar to this:
state=op6xd7FJo4sjaocAVt3qSB3PWUTHOY

When using an state strlen(parameter) > 15 then I'm getting redirected as if everything was ok to the redi

[2017-12-29 15:18] finkbg opened #495 "How to setup authentication for auth path"
Ok, so I googled and tried to figure out how to 'Add your favorite authentication process here' with no success. Whenever I try to add some form_login there, it tells me the patterns don't match.

[code]

Ideally I want to use google login through HWIOauthBundle there. My current configuration uses the regular login form from my main firewall and this is not ideal.

Any suggestions appreciated.

T

[2018-01-02 11:05] khal3d opened #496 "[Quotation] Forward user access token/credentials to the web - Automatic login"
We have mobile applications that use OAuthServer to access the API, sometimes we want to forward the logged in user on the app to our website without asking him to re-login again.

So, how can we pass the `access_token` (that the app use) in a URL to automatically log in the user. How to check & verify the token?

[2018-01-03 16:00] SebScoFr commented on #488
Really keen to see that SF4 support come to light as well. That's a bit of a blocker for us too. :)

[2018-01-04 14:20] iCodr8 opened #498 "Add Symfony 4 Support"
Add Symfony 4 Support

[2018-01-04 14:26] SebScoFr commented on #498
Duplicate of #485
But yes, very impatient for this to happen.

[2018-01-05 11:16] dkarlovi commented on #498
Merged in #497

[2018-01-05 11:16] #498 closed

[2018-01-05 15:31] dkarlovi opened #500 "Deprecate Symfony\Component\Security\Core\SecurityContextInterface in FOS\OAuthServerBundle\Security\Firewall\OAuthListener"
In 1.5 branch, interface was removed from Symfony v3, 2.x will not support Symfony v2.

[2018-01-05 16:18] SebScoFr opened #501 "Error requiring bundle from composer on SF4"
Command: `composer require friendsofsymfony/oauth-server-bundle:dev-master`

Fails with

[code]

[2018-01-05 17:22] dkarlovi commented on #501
There needs to exist a Flex recipe for the package for it to be auto-configured.

[2018-01-05 19:28] SebScoFr commented on #501
Yes that is what I meant, I think a Flex recipe should be submitted to https://github.com/symfony/recipes at some point, but this is not a blocker, maybe a bit confusing for people new to Flex :)

[2018-01-07 17:54] dinamic commented on #476
Ping @licarigianluca

[2018-01-08 11:20] dinamic commented on #467
@Linkinou, if you have found a solution, please feel free to close the issue.

[2018-01-08 11:26] dinamic opened #505 "Symfony 3.x compatibility"
Hello guys,

I have found multiple places that need changing in order to have Symfony 3.x compatibility.

One of the things to improve is removing the usage of `SecurityContext` and `SecurityContextInterface`. Issues are already posted for this. Examples are the `SecurityController` as well as #500.

We could possibly tag the problems with label `SF3` and submit PRs that can go to a new tag - let'

[2018-01-08 11:30] dinamic commented on #505
It may be a good idea to have the composer.json updated, so people won't feel frustrated as I did when things were not working the way they should be.

It's better to have an error message saying the bundle is not compatible than have it half-working without any error messages and no clue on what is wrong.

[2018-01-08 11:32] dkarlovi commented on #505
That's the point, currently the bundle is supposed to be compatible with Symfony v2 and v3, but it seems it isn't really. We should add more tests to confirm v4 compatibility which is being worked on in #503

[2018-01-08 11:58] dinamic commented on #505
Sounds reasonable. If there is a roadmap and people get assigned to different tasks, I may try to spare some time and help you guys out. :)

[2018-01-09 07:34] dkarlovi commented on #505
I don't find getting assigned a task is really any more productive than the usual "found a problem, fixing it" approach each individual takes if interested. :)

You definitely found a problem here, a PR adding tests to confirm Symfony integration would be great. :+1:

[2018-01-09 07:44] dkarlovi commented on #488
SF4 support (and fixing SF3 support too) will be added ASAP, which means releasing 1.6 then.

[2018-01-09 07:50] francoispluchino commented on #488
@dkarlovi It is not rather for the version 2.0?

[2018-01-09 07:52] dkarlovi commented on #488
@francoispluchino sorry, don't quite understand, can you elaborate?

[2018-01-09 08:05] francoispluchino commented on #488
I was thinking that you remove the support for the Symfony 2.x, but it is not the case. So the my question is useless. On the other hand, the 1.6 version does not exist, but there are 2 dev branches: 1.5.x-dev and 2.0.x-dev. Maybe create a new 1.6 branch?

[2018-01-09 08:17] dkarlovi commented on #488
Yes :see_no_evil:  I've PEBKACed and created a 1.5 branch instead of 1.6, will rename it. Think of 1.5 as 1.6, 2.0 will drop Symfony 2.x support.

[2018-01-10 15:28] dkarlovi commented on #452
Fixed in #486

[2018-01-10 15:28] #452 closed

[2018-01-10 17:53] dinamic commented on #500
Is this to be resolved in 2.x or in 1.6? It is tagged as in the milestone 1.6, but the description says 2.x. Which is true?

[2018-01-10 19:53] SebScoFr opened #508 "Commands not registered"
I want to use the new `fos:oauth-server:create-client` command recently merged in `1.5`.
Bundle is correctly installed, though for some reason when I run `bin/console` I can see no command under the `fos` namespace, as if they are not registered by Symfony. I'm using SF4.

Is anyone else experiencing this?

[2018-01-11 06:44] dkarlovi commented on #500
Resolved in 1.6, removed in 2.0 Done in #506

[2018-01-11 06:44] #500 closed

[2018-01-11 06:52] dkarlovi commented on #484
You're expecting it to work on every time the token is used, correct? If so, it's not supposed to work like that, the events trigger while you're **acquiring** the token. After that, they will not fire.

You can use events from `Symfony\Component\Security\Core\AuthenticationEvents` to attach listeners to the access token being **used**.

[2018-01-11 09:21] SebScoFr commented on #508
As a dirty workaround, it works if I add the following to my **config/services.yaml** file:
[code]
But obviously I shouldn't have to do that

[2018-01-11 09:24] dkarlovi commented on #508
@SebScoFr note that the bundle is not fully auto-configured by Flex, as discussed in #501

[2018-01-11 09:29] devRoshan opened #509 "The definition for "fos\oauthserverbundle\controller\tokencontroller" has no class. If you intend to inject this service dynamically at runtime, please mark it as synthetic=true. If this is an abstract definition solely used by child definitions, please add abstract=true, otherwise specify a class to get rid of this error."
Can anyone help me to get rid of this error ? my symfony app version is 2.8 .

[2018-01-11 09:34] SebScoFr commented on #508
True. Until that is the case then, I'll just add that workaround to my services.yaml whenever I need to run the command.

[2018-01-12 12:52] dkarlovi commented on #8
Worked on in #507, closing this as it's tracked there and this is ancient.

[2018-01-12 12:52] #8 closed

[2018-01-12 13:10] dkarlovi opened #511 "Bump PHPStan level to level 2"
[Current level is 1](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/Makefile#L9), we'd like to get as high as possible. Waiting for #507 to be sure we're not breaking anything.

[2018-01-12 15:24] #511 closed

[2018-01-12 15:25] mikrafizik commented on #509
Same issue app version 2.8.17

[2018-01-12 15:33] mikrafizik commented on #509
@devRoshan , update your composer json dependency to

and run composer update, it works for me

[2018-01-13 14:22] josecash opened #514 "security-bundle conflicts with symfony 2.8"
Hi there, I'm trying to install FOSOAuthServerBundle in a symfony 2.8 without any luck.

I'm running composer over php 7.1 and the error looks like this:

[code]

Any idea?
Thanks.

[2018-01-13 14:35] dkarlovi commented on #514
Master branch is not compatible with Symfony 2, use released version instead of pulling from live brancjes, especially master.

[2018-01-13 15:00] josecash commented on #514
Ok, thanks for the quick response.

Which version is better for 2.8?
`"friendsofsymfony/oauth-server-bundle": "1.5"
`

[2018-01-13 17:18] dkarlovi commented on #514
You don't need to specify a version. If you configure Composer correctly, it figures out the best version it can use with your current setup. But yes, that would be 1.5.

[2018-01-14 18:39] novacp opened #515 "Can't create clients on Windows, uniqueid error"
When trying to create a client on Windows (command or programatically), uniqueid() for generating a randomToken within FOS\OAuthServerBundle\Util\Random returns an error:

"Type error: uniqid() expects parameter 1 to be string, integer given in C:\xampp\htdocs\ms-bp-sf4\vendor\friendsofsymfony\oauth-server-bundle\Util\Random.php:31"

[2018-01-15 08:10] dkarlovi commented on #515
Hello, thank you for reporting this.

Two things to note:

1. our test case should have caught that (/cc @dinamic WDYT?)
2. you shouldn't be using a branch in development (such as master), it will probably break on you a lot until we add more tests, use a released version

[2018-01-15 08:16] dkarlovi commented on #505
@dinamic is this closed with #512?

[2018-01-15 10:20] dinamic commented on #505
@dkarlovi, I have to review the changes, but I won't be able to spend time on it before Thursday.

[2018-01-15 10:22] dinamic commented on #515
@dkarlovi, we don't have a test coverage for this file.

[2018-01-15 11:50] dinamic commented on #515
#518 should fix this.

[2018-01-16 12:08] SebScoFr opened #520 "Make fos_oauth_server.server public"
Sometimes it is useful to have the ability to manually grant an access token from the OAuth server.
[code]
Unfortunately, this doesn't work out of the box anymore since the service is private by default. Would it be ok to make it public?

Also, @dkarlovi can you merge PRs from the **oauth2-php** repo? https://github.com/FriendsOfSymfony/oauth2-php/pull/105 is really needed with SF4.

[2018-01-16 13:04] novacp commented on #515
Yes seems legit, but could you merge this please into version 1.6 too? Because I need sf4 and it seems as if 1.6@dev supports it.

Best regards and thanks for your fast response.

[2018-01-16 13:19] novacp opened #521 "Securing my API with "fos_oauth: true""
I've read the RFC for oauth2 and I think that I understand it well, so the firewalls within security.yml make sense (oauth_authorize and oauth_token). What I don't understand yet and couldn't find any docs about is securing the "api firewall", e.g. by using a JWT:

[code]

So when I just used JWT, I had like the following within my api firewall:

`api:
      pattern: ^/api
      stateless: true

[2018-01-16 13:20] #515 closed

[2018-01-16 13:28] SebScoFr commented on #520
Created PR #522

[2018-01-16 14:23] novacp commented on #473
You're not quite right - citat rfc to password grant:
" If the client type is confidential or the client was issued client
   credentials (or assigned other authentication requirements), the
   client MUST authenticate with the authorization server as described
   in Section 3.2.1."

[2018-01-19 18:54] Luitame commented on #501
@SebScoFr how can you solved this problem?

`Executing script cache:clear [KO]`
`[KO]`
`Script cache:clear returned with error code 1`

` In ArrayNode.php line 238:`

    `The child node "db_driver" at path "fos_oauth_server" must be configured.`

[2018-01-19 20:57] SebScoFr commented on #501
@Luitame
If you are using SF4, make sure your **fos_auth_server.yaml** looks something like this (note the *db_driver* section):
[code]
If you're still on 3.x that will be within the *app/config.yml* file under the FOS configuration section

[2018-01-22 06:51] dkarlovi commented on #520
@SebScoFr why not just inject it? That's the whole point why services got private by default, it promotes injecting instead of fetching (by which you're hiding the dependency).

[2018-01-22 19:02] Luitame commented on #501
Hey, @SebScoFr let's join forces to create the recipe from Symfony Flex for this package?

[2018-01-22 19:49] SebScoFr commented on #520
@dkarlovi I have a service that already have access to the container, so it seemed a bit strange to me to inject the oauth server service alongside the container, when I could just grab it from the container, if that makes sense. But if there is no way around it I'll end up doing that.

[2018-01-23 16:37] The-Don-Himself commented on #404
This issue is still present.

[2018-01-23 18:14] pura commented on #521
+1

[2018-01-24 09:24] ThomAille opened #523 "RollBack Insert Into auth_code"
Hi,

I come to you because I block on a problem, when generating the auth_code I have a rollback Doctrine that occurs.
It tells me that the password of my user is null which is normal. Since Symfony never returns the password after a connection.

Here is the Symfony error :
An exception occurred while executing 'UPDATE oauth_user SET password = ? WHERE id = ?' with params [null, 18019]:

SQLSTATE[

[2018-01-24 09:37] ThomAille commented on #523
Hi,

I have changed my eraseCredentials method so that it does not change the password.

Best Regards

[2018-01-24 09:37] #523 closed

[2018-01-24 15:37] Sengorius commented on #501
@Luitame
Configuration is fine and solves that problem, but then the next appears:
[code]
I'm using SF4, too.

[2018-01-25 16:44] chriskaya commented on #501
@Sengorius same here

My `composer.json`:
[code]

[2018-01-26 08:37] SebScoFr commented on #501
@Sengorius @chriskaya
The error message is pretty straightforward

[code]

You need to run
`composer require symfony/templating`

[2018-01-26 11:51] dinamic commented on #495
I was able to use form_login like so:

[code]

Would this work for you?

[2018-01-26 11:55] dinamic commented on #489
This might be obvious, but, what flow are you using? The user object won't be available in flows that don't involve the user. For example: client credentials is meant for server to server communication and won't pull the user object.

#425 uses client_credentials. If this is your case as well, consider using something that ties the user in. Here's what each type is designated for:

http://tutorial

[2018-01-26 12:12] dinamic commented on #425
I agree with @andela-tolotin. The issue is caused by the lack of firewall protecting the `^/oauth/v2/auth` end-point.

@mappedinn, could you please close the issue if the matter is resolved?

[2018-01-26 12:15] dinamic commented on #489
On another note, I have just noticed that you left the authorization end-point unprotected. This is why you have the problem with the user object not being populated.

The flow is like:

1. the user logs in
2. he agrees the APP should have access to his account
3. APP is given an authorization code
4. APP requests access token
5. APP uses access token to do stuff on user's behalf

I hope this is h

[2018-01-26 12:34] dinamic commented on #490
Ping @vinoles

[2018-01-26 13:57] faelp22 commented on #489
@dinamic Thank you for your help.

You could be clearer about the solution, I didn't understand where I went wrong.
Could you show me an example of a solution?

[2018-01-26 15:32] #425 closed

[2018-01-26 15:48] dinamic commented on #489
Sure.

As mentioned in the documentation, you should have a firewall guarding the auth end-point:
[code]

You could use form_login or the Symfony Guard component.

Here's how I have configured it for an application I am currently working on:

[code]

Translated this would mean:

1. Don't use a firewall when the user is accessing `/oauth/v2/auth_login`. This makes sense, because on this URL I am sh

[2018-01-26 17:55] faelp22 commented on #489
Thank you very much I managed to solve.

The problem was:
[code]
Traded for
[code]
New Setup was like this:
[code]

[2018-01-26 21:23] dinamic commented on #509
@devRoshan, have you managed to get this resolved?

You should be using FOSOAuthServerBundle 1.5.*. Could you confirm this?

[2018-01-26 21:49] dinamic commented on #489
Please, feel free to close the ticket if the matter is resolved :)

[2018-01-26 23:07] dinamic commented on #496
@khal3d, usually the api and the web part would go thru different authentication mechanisms. In Symfony terminology - two different firewalls. They could use different user providers too.

It does not sound like a good idea to mix the two together.

If you really need such functionality, I would suggest for you to have it implemented yourself with one-time tokens.

[2018-01-27 01:54] devRoshan commented on #509
@dinamic its working now, thank you

[2018-01-27 05:34] dinamic commented on #509
Happy to help, @devRoshan.

Could you please close this issue down? :)

[2018-01-29 13:06] haroldmodesto commented on #501
I had the same error with a different bundle (sonata-admin) and I had to add the templating line to framework.yaml too. I didn't explicity require symfony/templating in composer.json but it was installed via fos-rest. Symfony 4 growing pains I suppose.

[2018-01-29 14:17] Luitame commented on #501
@haroldmodesto I think that `symfony/templating` it's wrong. If you are using **Symfony Flex** try to run `composer req template` and it'll install all dependencies from Twig. For me to work.

[2018-01-29 14:20] dinamic commented on #521
Adding `fos_oauth: true` to the configuration enables the security factory, so the bundle is able to register an independent security mechanism. More on custom authentication providers: [here](http://symfony.com/doc/current/security/custom_authentication_provider.html).

JWT uses different means to register as security mechanism, thus the syntax difference.

[2018-01-29 14:29] haroldmodesto commented on #501
@Luitame The thing is (in my case) templating is already included (required) by some other bundle. I already have the library/bundle just not configured.

I know it's kind of difficult to decide which bundle should have the responsibility of auto-configuring some sane defaults and/or at the same time not override user settings.

[2018-01-30 10:44] chriskaya commented on #501
@Luitame for me `composer require templating` did nothing :/

[2018-01-30 12:59] Luitame commented on #501
@chriskaya see this (https://knpuniversity.com/screencast/symfony) basic overview of Symfony 4 concepts. It's free!

[2018-01-31 07:37] dkarlovi commented on #520
@SebScoFr you should inject the container too, it's also an anti-pattern. You should inject your direct dependencies. If you need some services which cannot be injected (there are obscure situations), use [Service Locators](https://symfony.com/blog/new-in-symfony-3-3-service-locators).

[2018-01-31 07:37] #520 closed

[2018-01-31 09:02] cvele opened #528 "Problem initializing"
`OAuth2ServerException::getHttpResponse` is attempting to pass the result of `OAuth2ServerException::getHttpCode()` to Symfony Response object - which results in a ` Uncaught PHP Exception ErrorException: "Notice: A non well formed numeric value encountered"`

**Quick debug:**

`Symfony\Component\HttpFoundation\Response::__construct` in it's method signature requires http status argument to be int

[2018-01-31 09:08] cvele commented on #528
Looking at the issue again, I'm wondering if there is a special reason why are the http status codes held in OAuth2 class and not fetched from HttpFoundation Response class, seeing how the bundle has a clear dependency on mentioned package?

[2018-01-31 09:15] cvele opened #529 "Symfony 4 - Non-public service should be made public"
Since all services are made private by default in Symfony 4, the same applies to `fos_oauth_server.client_manager.default`, which we should be able to fetch publicly from container.

[2018-01-31 09:16] dkarlovi commented on #529
Duplicate of #520.

[2018-01-31 09:16] #529 closed

[2018-01-31 12:33] dinamic commented on #528
The problem seems to lie with a dependency of this project, rather than the project itself.

Maybe a more appropriate place to open an issue would be under [friendsofsymfony/oauth2-php](https://github.com/FriendsOfSymfony/oauth2-php).

[2018-01-31 12:38] dinamic commented on #505
@dkarlovi I think we can close this one down. If there are any issues, they have to be submitted on per-case basis.

I have 1.5 branch running on Symfony 3.3 and I haven't experienced any issues.

[2018-01-31 12:39] #505 closed

[2018-02-05 12:52] anonim1133 commented on #437
And still nothing...

[2018-02-05 15:26] cored0wn commented on #488
Is branch 1.6 stable ? If so can you tag them so I can add it to my composer.json?

[2018-02-06 09:25] dkarlovi commented on #488
It should be stable and support Symfony 2.x, 3.x, 4.x (which is insane, that's why 2.x is dropping Symfony 2.x support). We still have some issues open which should be resolved before tagging.

[2018-02-06 09:27] dkarlovi commented on #508
@SebScoFr could you send a PR on top of 1.6 which fixes this?

[2018-02-06 16:27] SebScoFr commented on #508
@dkarlovi I've just opened #534

[2018-02-07 07:00] dkarlovi commented on #508
Fixed in #534, thanks again @SebScoFr

[2018-02-07 07:00] #508 closed

[2018-02-07 18:26] zablik commented on #488
@dkarlovi Thanks a lot for the support!
Can it be approximately estimated when the new stable version will be tagged? We've just started development and we need to make a decision on the version to use.
Thanks!

[2018-02-09 08:23] Chrysweel opened #536 "The command defined in "FOS\OAuthServerBundle\Command\BaseCommand" cannot h ave an empty name."

[2018-02-09 12:42] cored0wn commented on #265
Out of the box it doesn't. I'm currently evaluation a possibility of implementation.

[2018-02-09 23:27] kamilmaliszewski opened #537 "Return code 200 for request type OPTIONS"
Hi!

I try to make call to restricted route in rest api via AJAX from other domain.
Browser first do a OPTIONS call and then POST/GET. There is a option to return code 200 to each OPTIONS request?
E.g: I have all routes with pattern /oauth in my security config. But I want to make them 'public' for OPTIONS request.

[2018-02-11 16:01] Chrysweel commented on #536
Does anyone know anything about it? :(

[2018-02-12 13:11] dinamic commented on #528
ping @cvele

[2018-02-12 13:20] dinamic opened #538 "Tag 1.6.0 with oauth2-php ^1.1"
There are a few things here. The order is random, although tagging should be after the change with oauth-php version requirement.

1. Tag 1.6.0

We have 1.6 branch and the code inside should be stable. We should have a tag as well, so it could be installable without `-dev` suffix.

2. Raise `"friendsofsymfony/oauth2-php": "~1.1"` to allow 1.2.x, maybe `^1.1` would suffice.

We need to raise a bit

[2018-02-12 13:20] dinamic commented on #538
PIng @dkarlovi

[2018-02-12 13:23] dkarlovi commented on #538
We should raise reqs to 1.2.3+. I'd like to get [a couple of issues](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/milestone/2) finished before tagging.

[2018-02-12 13:27] dinamic commented on #536
This seem to be caused by #534 a few days back.

[2018-02-12 13:51] dkarlovi commented on #536
Yes, that's the reason why I'm interested in adding actual functional tests, as with #519.

[2018-02-15 12:11] tomasjav commented on #528
friendsofsymfony/oauth2-php v1.2.3 doesn't resolve this issue.
My debugging showed the problem is right here: https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/1.6/Security/EntryPoint/OAuthEntryPoint.php#L32

I guess it should be changed to `Symfony\Component\HttpFoundation\Response::HTTP_UNAUTHORIZED`

[2018-02-15 12:25] GuilhemN commented on #528
@tomasjav could you submit a PR doing the change please? :)

[2018-02-15 12:28] GuilhemN commented on #538
There is no need to bump `friendsofsymfony/oauth2-php` requirement, but we need to fix https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/issues/528#issuecomment-365909311.

[2018-02-15 13:57] cvele commented on #528
@dinamic sorry went off the grid for a few days.

@tomasjav had exact issue as I did.

[2018-02-15 21:38] GuilhemN commented on #528
Should be fixed by https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/539

[2018-02-16 10:23] doctorx32 commented on #152
Actually option `auth_code_lifetime` should work, it appends at OAuth2 class __construct method, so you should to recreate this class instance. For this can work Symfony server or webserver and php-fpm relaunch.

[2018-02-16 14:02] dkarlovi opened #540 "Autowire support"
With 1.5.x, services are not aliased properly for Symfony's autowire to work correctly:

[code]

We should check what needs to get done for this to work correctly.

[2018-02-16 14:09] dkarlovi commented on #540
@stof could you point me to the right direction, maybe?

[2018-02-17 23:31] zekjamel opened #542 "When I make a refresh token, the user is deleted"
Hi,
Everything is OK when I create an acces token with refresh token
Input :
`{
"grant_type" : "password",
"client_id" : $clientId,
"client_secret" : $secret,
"username" : "user@name.login",
"password" : "p@ssword"
}`

Output :
`{
"access_token": "YmZmYjExMWYxYzc4YTBlZjVhZjEyZjU4YzI0YzlhODZmZDM3ZWIwMjY5MTNjZGIxNWQ2MTFjYjQyNDcxZDAwZQ",
"expires_in": 10800,
"token_type": "bearer",
"scope": null,
"re

[2018-02-20 06:42] dkarlovi commented on #540
Example https://github.com/nelmio/alice/issues/711

[2018-02-20 12:09] pfeilda commented on #540
That would be really nice I'm struggling at the same point. Maybe we can get a solution together.

[2018-02-21 09:13] tezrik opened #544 "create a Client using the ClientManager in Symfony4"
Sorry for bad English
when I create a client through the service, I get an error:

Also I do not see console commands for this bandle

version:

friendsofsymfony/oauth2-php          1.2.3              OAuth2 library
symfony/config                       v4.0.4             Symfony Config Component
symfony/console                      v4.0.4             Symfony Console Component

[2018-02-21 15:09] ibogdan94 opened #545 "Not configuring explicitly the provider for the "fos_oauth" listener on "api" firewall is ambiguous as there is more than one registered provider"
Hi there
Faced with this exception:

[code]
Symfony dependencies:
[code]

friendsofsymfony/oauth-server-bundle from compose.lock

[code]
What I did wrong?

[2018-02-22 07:35] dkarlovi opened #546 "AUTHENTICATION_SUCCESS triggered too late"
I'm adding an ability for my user to have dynamic roles depending on which client the token belongs to. For this to work, I inject the current client and using it, fetch all the roles (sidenote, this allows me to have roles on the client too, for example I'm able to restrict access to certain parts of my API by using:

[code]

Sadly, [OAuthProvider calls `User::getRoles()` **before** AUTHENTICATIO

[2018-02-22 08:36] pfeilda commented on #544
I have the same issue its because the autowire see this issue #540

[2018-02-27 19:41] jakesyl commented on #509
Thanks! this worked great.

[2018-03-01 14:21] Ousret commented on #540
I fixed it by adding this to services.yml

[code]

[2018-03-01 18:29] dkarlovi commented on #540
@Ousret yes, we just need to ship those with the bundle AFAIK.

[2018-03-03 08:49] zekjamel commented on #542
Hi guys !

Any one has encountered this problem?

[2018-03-05 14:50] #467 closed

[2018-03-06 13:32] dinamic commented on #528
#539 has been merged and should have fixed the problem. We don't have this tagged, however, so whomever needs to have the fixed version should use `1.6-dev`, until there's `1.6`.

[2018-03-07 08:19] Chrysweel commented on #536
This problem is fixed in some branch ?

[2018-03-07 10:45] brunonic commented on #545
Same here

[2018-03-08 09:01] sawmurai commented on #545
I think you need to add

`provider: fos_userbundle` or `provider: in_memory` to the api-firewall config:

`
        api:
            pattern: ^/api/v1/
            fos_oauth: true
            stateless: true
            anonymous: false
            provider: fos_userbundle
`

[2018-03-09 15:37] alfons56 commented on #279
+1

[2018-03-10 19:04] yurtesen commented on #152
I guess the important thing is if the oauth2 specification allows unlimited lifetime tokens or not. But I guess this feature will never be implemented.

[2018-03-11 21:38] yurtesen opened #547 "refreshToken expiration missing from json output"
FOSOauthServerBundle has expiration for refresh token in [documentation](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/Resources/doc/configuration_reference.md) Default seems to be 14 days.
[code]
I also see the `expires_at` field in my database for FOSOauthServerBundle.

But when I authorize with the server, the json output does not have the expiration for the refresh token

[2018-03-12 15:56] zekjamel commented on #542
UP

[2018-03-13 16:25] alanpoulain commented on #536
@Chrysweel see my PR: https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/548

[2018-03-19 12:48] simonbertonsugasti opened #549 "Misleading Readme"
The readme says this bundle works with symfony 2.8. Right now have a 3.4 version working perfectly.

Don't know if you guys are going to keep this alive for future versions with the info provided on the doc file.

Can you update that so we know for sure?

Thanks !!!

[2018-03-20 08:47] Sengorius commented on #544
I'm using this bundle with Symfony 4, too. In my case it was temporarily fixed with this configuration in `services.yaml`:
[code]

If you need the commands to work, simply make a copy of it. Or copy mine:
[code]

[code]
@georgiokot I hope this will also fix it for you.

[2018-03-22 10:53] florianajir commented on #465
can this is be fixed ? I don't want to require dependencies that I don't use... (twig, templating, etc.)

[2018-03-24 06:43] elvismdev commented on #465
Trying to install the bundle in SF4 but got this error, I think it's related. Prefer to not install extra packages I don't need like twig.

[code]

[2018-04-04 15:17] francoispluchino commented on #538
@GuilhemN The issue #539 has been merged and should have fixed the mentioned problem.

Currently, we are forced to use the `1.6-dev` development branch, because we don't have a tagged version.

@dkarlovi When do you expect to create the `v1.6.0` tag? Thank you for your great work!

[2018-04-05 05:51] dkarlovi commented on #81
Thinking about this, we shouldn't set the client, instead we should inject the whole token instead of only the string. Will work on this for 2.0.

[2018-04-05 05:51] #81 closed

[2018-04-05 05:51] #493 closed

[2018-04-05 05:51] dkarlovi commented on #493
No response from @ThibautAlgrin

[2018-04-05 05:54] dkarlovi commented on #538
@francoispluchino sorry about the delay. We're down to a single thing in the 1.6 milestone, if you could send a PR, we can tag today. :+1:

[2018-04-05 06:06] dkarlovi opened #555 "Inject whole access token inside of auth token instead of just the string"
In the OauthToken there's support for injecting the access token, but only the string:

https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/37b3b9d8268d1bae8ff59ed2ad51493269512ca7/Security/Authentication/Token/OAuthToken.php#L30

It's set after the auth process:

https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/37b3b9d8268d1bae8ff59ed2ad51493269512ca7/Security/Authenticatio

[2018-04-05 08:21] martinjandl opened #556 "Autowire EntityManager throws exception "Multiple services exist""
Hello,
when I autowire EntityManager an exception is thrown:

[Symfony\Component\DependencyInjection\Exception\RuntimeException]
Unable to autowire argument of type "Doctrine\ORM\EntityManager" for the service "autowired.AppBundle\Model\Shop\ShopRepository".
Multiple services exist for this class (doctrine.orm.default_entity_manager, fos_oauth_server.entity_manager).

Symfony 3.2.4

How to deal wi

[2018-04-05 08:58] dkarlovi commented on #556
Autowire support is pending in #540

[2018-04-05 12:41] Sengorius opened #557 "Template overwriting does not work in Symfony4"
Hey guys,

I'm now far enough and got everything working with this bundle in Symfony4. The only thing remaining are some improvements in templates, so I followed the [template guide](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/Resources/doc/extending_the_authorization_page.md) with addition of the expected way to do it in Symfony4 (explained [here](https://symfony.com/doc/

[2018-04-06 05:49] dkarlovi commented on #557
The first one should work. We had https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/519 which fixed the override for Symfony 3.4+

[2018-04-06 14:15] Sengorius commented on #557
@dkarlovi Yes, it should, but unfortunately it did not. Maybe it's because you use the templating component and not the twig component as templating endpoint directly?

[2018-04-08 21:07] vincentchalamon commented on #465
Fixed in https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/554

[2018-04-08 21:07] #465 closed

[2018-04-10 13:10] fxbt commented on #557
@Sengorius I had the same problem. The solution for me was to follow the old templating guidelines and put my twig template in `src/Resources/FOSOAuthServerBundle/views/`.

This is not compliant with the Symfony 4 documentation but at least it works.

![image](https://user-images.githubusercontent.com/6928162/38558553-c8da06f0-3cd0-11e8-92f9-b9f38b8f4022.png)

[2018-04-11 06:53] Sengorius commented on #557
Thanks @fxbt, this really did work! :+1:

As I'm about to overwrite more than just the `authorize.html.twig`, I also needed to add the new path to Twig resources:
[code]
And change the extend/include in templates:
[code]

Thanks guys. I think we can close this one.

[2018-04-11 07:10] dkarlovi commented on #557
Let's leave it, the bundle should be Symfony4 compatible out of the box. The solution you described is a workaround.

[2018-04-11 08:14] francoispluchino commented on #538
@dkarlovi See the PR #560.

[2018-04-11 08:17] francoispluchino commented on #528
The PR #539 fix this issue and it was merged. So, this issue can be closed.

[2018-04-11 15:56] ThibautAlgrin commented on #493
@dkarlovi I will do that.
Sorry for the delay

[2018-04-12 07:05] dkarlovi commented on #557
I'm currently doing the same thing for my app, it also does NOT work for me, but I have overridden [a template for API Platform](https://github.com/api-platform/core/blob/master/src/Bridge/Symfony/Bundle/Resources/views/SwaggerUi/index.html.twig) and that one overrides OK.

This bundle does exactly the same thing (the way I see it) and so it should work as-is, but it doesn't. I'm confused. :(

[2018-04-12 13:29] dkarlovi opened #561 "TokenManagerInterface should allow bulk expire / delete"
I should be able to expire / delete access and refresh tokens in bulk, using the token manager.

[2018-04-13 06:13] dkarlovi opened #562 "Type error: mb_strpos() expects parameter 1 to be string, null given"
vendor/friendsofsymfony/oauth-server-bundle/Model/ClientManager.php (line 33)

If no client ID passed.

[2018-04-13 06:14] dkarlovi commented on #562
This will get caught by PHPStan once we get to a high-enough level (IIRC level 5)

[2018-04-13 08:23] dkarlovi opened #563 "Refactor AuthorizeController"
Couple of things:

- [x] ~~separate business and view logic (to enable DRY overriding) [the way FOSUser does it](https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Controller/SecurityController.php#L88-L99)~~ (done in #564)
- [ ] break it apart, currently there's 11 constructor dependencies (for example, once #555, `getClient()` becomes obsolete)

[2018-04-14 05:07] kvnbai opened #565 "Notice: A non well formed numeric value encountered"
Symfony version: 4
PHP version 7.2

Symfony\Component\HttpFoundation\Response's status needs an integer yet FOS\OAuthServerBundle\Security\EntryPoint\OAuthEntryPoint gives a string ('401 Unauthorized' by OAuth2\OAuth2::HTTP_UNAUTHORIZED)

[2018-04-16 07:30] fxbt commented on #565
This was fixed by #539 in the 1.6.

It should be available soon.

[2018-04-18 05:58] dkarlovi commented on #540
Closed with #560

[2018-04-18 05:58] #540 closed

[2018-04-18 05:59] dkarlovi commented on #556
Closed with #560

[2018-04-18 05:59] #556 closed

[2018-04-18 08:45] TPete commented on #509
I'm seeing this error again after upgrading to 1.6.0.

[2018-04-18 09:11] dkarlovi commented on #509
Yes, this was not actually solved, OP only downgraded to 1.5.

[2018-04-18 09:41] FlorianKoerner commented on #509
Same issue here . 😢

[2018-04-18 09:48] dkarlovi commented on #509
You can downgrade back to 1.5.2 until this is resolved, we'll push a bugfix for this ASAP.

[2018-04-18 12:44] nclavaud commented on #509
Looks related to commit https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/503/commits/36e552af620b8815f63a008b0ce4af8423943bcf in pull https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/503

Looks like Symfony 2.8 does not handle the new syntax introduced in 3.4 where services can be defined without a `class` property when their ID is a FQCN.

I can't understand why an alias

[2018-04-18 12:52] dkarlovi commented on #509
We should really introduce actual functional tests to catch these sorts of errors ASAP. :(

Services in Symfony became private by default, by which this bundle's services became private too. Having services be public should be a rare exception, not the norm.

[2018-04-18 13:08] nclavaud commented on #509
Looks like https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/551 is attempting to fix this very same issue

[2018-04-18 13:48] dkarlovi commented on #509
Can anybody confirm 1.6@dev works on Symfony 2.x?

[2018-04-18 13:55] dkarlovi opened #567 "Functional tests for Symfony with full app bootstrap and container initialization"
Avoid stuff like #509

We want at least booting the application with the bundle enabled (in each supported Symfony version) to confirm framework integration is correct.

[2018-04-18 14:55] nclavaud commented on #509
I do. All fine with https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/commit/5cc4c8555dedb5c7e737a35789bd429ccd9ad254 (1.6@dev) on top of Symfony 2.8.38, whereas we had the error reported above with https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/commit/98a66424c33ea1ad4773644dae3597725410f762 (1.6.0) when running `composer install`.

So :+1:

[2018-04-19 06:14] dkarlovi commented on #509
1.6.1 has been released, please update and confirm this works now.

[2018-04-19 06:54] Baachi commented on #542
Hey @zekjamel this Bundle does not delete the user directly. It only deleted expired access token throw DQL, but this does not affect users. Do you checked your database constraints, for "onDelete" constraints or maybe cronjobs?

[2018-04-19 07:19] dkarlovi opened #568 "Scope grant persistence + diff"
If a client requests scope `A` and it gets granted, we should persist.

If the client requests scope `A` again, there's no need to display the grant view at all, it's already been granted.

If the client requests scope `A B` next, we should display the grant screen again, asking the user to grant `B` (optionally, displaying `A` was already granted, and when).

TLDR: the grant screen should show up

[2018-04-19 13:51] dkarlovi opened #569 "Include scope in OAuthEvent"
Useful for #568

[2018-04-22 08:46] #545 closed

[2018-04-22 19:09] makremch opened #570 "I would like to use the result of this in java CodeName One application ! what should i do to login in mobile application of codename ?"
`{
"access_token": "ZWU5NzJjZjIwOGI4ZWRhM2UxZGJhYTAwN2MwYTIxMzgxMzc3MzViYTE0NDk5MWViNDhhMjBhNzU0ZjFmNzgyOA",
"expires_in": 3600,
"token_type": "bearer",
"scope": null,
"refresh_token": "ZjUyZDk4NTEyZWYxYWUxNTYyYmM2NTdmOGIzM2E0M2EwMDVjODkyNzA2YTVhYjkzOGEyNzYwYmU2NGU4NDEzMg"
}`

[2018-04-23 08:14] dkarlovi commented on #570
@makremch this bundle exposes OAuth2 server within a Symfony application. If you were granted this access token by the Symfony application, it means some part of that Symfony application is protected by it.

How to use it depends on the application using this bundle.

[2018-04-23 22:18] #565 closed

[2018-04-25 08:50] pamil commented on #538
I guess this issue can be closed as v1.6.0 with Symfony 4 support has been released, big thanks for that! 🎉

[2018-04-25 08:55] francoispluchino commented on #538
@pamil Yes

[2018-04-25 10:01] #538 closed

[2018-04-25 11:26] #509 closed

[2018-05-01 06:28] dkarlovi commented on #567
Closed with #575

[2018-05-01 06:28] #567 closed

[2018-05-04 09:46] florianajir opened #577 "Provide a way to get scopes from client"
We need to set scope on client and copy it to access_token on auth, not just copy all scopes declared in supported_scopes config option (useless)

There's a way to achieve this with your bundle ? (the doc is very light about scope)

[2018-05-08 09:39] er1z opened #578 "[Symfony 4] Installation"
Are there any docs covering installation on Symfony 4? I haven't found a recipe for Flex, should I be aware of any caveats?

[2018-05-15 22:01] er1z opened #579 "Bundle fails on Symfony4"
[code]

After commenting out ``Resources/config/authorize.xml:13``:
[code]

Everything seems to work ok. Are the validation groups used within something needed?

[2018-05-22 14:07] leroy0211 commented on #578
I'm running on Symfony 4 (traditional, not flex).

Things I needed to configure were the `templating` section in `framework.yml` (also install the templating component). And a minor `security.yml` edit to allow multi route pattern firewalls. Because otherwise you have 2 login forms on your website.

**templating section**
[code]

**`security.yml` firewall edit**

[code]

[2018-05-22 14:09] leroy0211 commented on #579
Doesn't break on my end. But I'm using the traditional symfony 4.0. Not the flex version.

[2018-05-22 15:44] stof commented on #579
@er1z could you be using the Form component without the Validator component ?

[2018-05-22 15:45] stof commented on #579
maybe we are missing some requirements in this bundle (it has been written long before the Flex area, where everyone was installing the fullstack repo)

[2018-05-22 17:19] er1z commented on #579
@stof executing ``composer require validation`` fixed the problem, thanks.

[2018-05-24 18:41] scootstah opened #581 "Cannot check if an unsubmitted form is valid. Call Form::isSubmitted() before Form::isValid()"
**Symfony FOSOAuthServerBundle versions**:
friendsofsymfony/oauth-server-bundle 1.6.1

**Description of the problem including expected versus actual behavior**:
A `LogicException` is thrown for POST requests to /oauth/v2/auth, with the message:
`Cannot check if an unsubmitted form is valid. Call Form::isSubmitted() before Form::isValid()`

**Steps to reproduce**:
 1. Submit POST request to /oauth/

[2018-05-30 19:51] dkarlovi opened #583 "Prefix roles assigned by scope"
Scope `foo` becomes `ROLE_OAUTH_FOO` instead of `ROLE_FOO`.

[2018-06-05 14:16] NeoBlack commented on #460
Any news on this issue? I run into the same problem, is there a workaround to fix it?

[2018-06-09 07:15] mehranhadidi commented on #501
Is there any fix for this problem? I'm trying to add it for authorizing API requests on a fresh Symfony 4.1 skeleton project? Am I forced to include twig and templating part of the project for no reason?

Thanks guys.

[2018-06-14 10:15] conceptdeluxe commented on #467
I wasted a lot of time assuming that I can configure the provider below `providers:` key in `security.yaml`, but in fact there is no need to add the provider there at all - it has nothing to do with it. Instead I have my config like this now:

[code]
[code]

[2018-06-15 10:22] er1z commented on #501
It's not for no reason — it's used to generate auth/deny template for a particular application. But sure, it should be included within composer.json.

[2018-06-15 10:58] dkarlovi commented on #501
Templating component was only made optional with Symfony 4.0, IIRC (citation needed). Since this bundle needs to support Symfony 2.8, 3.4, 4.x, we can't just remove it.

[2018-06-26 10:56] TrogWarZ commented on #409
Even in 2018, it is still a problem – lastLogin does not updated when user uses OAuth bundle.

I need to write some glue code (that many other people already wrote many times)? How this code should looks like – in terms of developers of this bundle think about it?

[2018-07-03 11:58] noon974 opened #586 "Using scope makes invalid grant_type"
Hi,

I'm trying to use supported_scopes up and running for my project. As soon as I add the supported_scopes field in my config.yml :

`fos_oauth_server:

    db_driver: mongodb
    client_class:        oAuth\Client
    refresh_token_class: oAuth\RefreshToken
    auth_code_class:     oAuth\AuthCode
    access_token_class:  oAuth\AccessToken
    service:
        options:
            supported_scope

[2018-07-04 06:10] noon974 commented on #586
Something were wrong with my config.yml (I'm using PHPStorm deployment feature when working locally on the source code). If I do the same changes on the server file, without deployment upload of PHPStorm, everything's fine.

[2018-07-04 06:10] #586 closed

[2018-07-05 09:19] eveyrat commented on #437
Same need here.
How can we change the supported scopes based on the grant type.
Example :
- client_credentials : full_access
- password : read

[2018-07-11 08:39] fracz opened #587 "Anti-CSRF blocks authorize form submission when _fos_oauth_server.ensure_logout is used"
Useing FOS OAuth v1.6.1.

I have configured the login form with setting the `_fos_oauth_server.ensure_logout` param as suggested in [the note](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/Resources/doc/a_note_about_security.md). When it is set, user cannot send the Allow/Deny form after successful authentication due to invalid CSRF token validation.

I haved debugged it to

[2018-07-12 21:46] fracz commented on #152
[Source](https://www.oauth.com/oauth2-servers/access-tokens/access-token-lifetime/)

[2018-07-13 19:56] bpotard commented on #402
As an alternative / addition to the Client level scope restriction above - which can be useful on its own - I believe it could also be useful that the actual roles granted to the User (i.e. corresponding to the user credentials used for authentication) are enforced.

This can be done by overloading the `checkUserCredentials` method of the `OAuthStorage` service, e.g.:

[code]
... and again creatin

[2018-07-13 21:32] brutalnv opened #588 "Symfony 4.1 configuration problems"
I got an error after adding

#app/config/routing.yml
fos_oauth_server_token:
resource: "@FOSOAuthServerBundle/Resources/config/routing/token.xml"
fos_oauth_server_authorize:
resource: "@FOSOAuthServerBundle/Resources/config/routing/authorize.xml"

  !!    token" (in /var/app/ondeck/config/packages/routing.yaml). Looked for namesp
  !!    ace "fos_oauth_server_token", found "framework", "twig", "se

[2018-07-14 14:16] brutalnv commented on #588
Solved. I made a mistake during the configuration process.

[2018-07-14 14:16] #588 closed

[2018-07-17 17:01] Koronos commented on #438
Another way to make it works, is use the full name of your entity provider:

[code]

I hope this helps someone

[2018-07-19 10:43] fxbt commented on #587
A PR is already open to fix this: https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/197

[2018-07-31 10:54] aumel commented on #152
The RFC6749 (OAuth2) specification is pretty clear about access token. It must have a lifetime with duration.

https://tools.ietf.org/html/rfc6749#section-1

https://tools.ietf.org/html/rfc6749#section-1.4

**Why non-expiring access token is not recommended for OAuth2?**

1. This does not respect one of the objectives of OAuth2 which is to limit the possible time window for an attacker when an acc

[2018-07-31 12:53] joseph11 opened #589 "Error in oauth.xml causes fatal error if symfony app wants to override token service"
When trying to override `fos_oauth_server.controller.token` in `OverrideServiceCompilerPass` following error occurs:

But when I downgrade FOSOAuthServerBundle version, it works fine.

I suspect the problem is the service definition in oauth.xml file (problem occurred in versions 1.6.0 and 1.6.1). Specifically this "service" seems odd because of unusual `id` attribute:

[2018-08-23 11:44] romg974 opened #591 "ensure logout throws error with SF4 and PHP7"
After adding the ensure logout session key from my login event, I got an error which seems to come from Symfony itself :

I got an explanation from there : https://github.com/symfony/symfony/issues/24524#issuecomment-335928198

And after looking into the NativeSessionStorage code i found out that the session was modified only if the lifetime parameter is specified.

In the AuthorizeController ther

[2018-09-07 08:45] ScullWM commented on #439
Old issue, but the solving process don't really work.
Removing the `vendor/friendsofsymfony/oauth-server-bundle/Propel/*` and test that everything work generate the autoloader or container definition. Then you can restore the deleted path and it don't cause any more trouble because it doesn't try to reach again this folder.
It can't work I you're trying to retrieve vendor during a build process (l

[2018-09-20 15:28] gzulian commented on #545
Excelente post,  muchas gracias por compartir...  pero  tengo la incertidumbre de ¿cómo llegaste a esta solución?

[2018-09-24 10:53] sohildesaihs commented on #324
Hello,

I am using symfony 4.1 and this solution doesn't seem to work for me. I am always getting 404 Route not found error for /oauth/v2/auth_login path

can someone please help for symfony4.1?

Thank you

[2018-09-25 16:21] mykiwi commented on #581
Any news on when the fix will be merged (or why it's not merged & released yet) ?

[2018-09-26 15:33] mykiwi commented on #581
ping @arnaud-lb @dkarlovi @GuilhemN

[2018-10-03 09:14] puterakahfi commented on #581
Hi all, any update about this issue?
I face the same problem

Thanks

[2018-10-10 13:32] denisWetexx commented on #478
Is there any concern in making the fix public?
I had the same problem trying to use the user_checker as proposed in https://symfony.com/doc/current/security/user_checkers.html
The configured user_checker does not get injected. Instead the default user checker is used
in vendor/friendsofsymfony/oauth-server-bundle/Security/Authentication/Provider/OAuthProvider.php
so checking for disabled users is

[2018-10-14 02:28] DPerkunas opened #594 "Similar/same question as before. How to setup yaml without FOSUserBundle?"
Similar/same as this https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/issues/467, just need more clarification.

the main question at hand is **oauth_authorize** setup. What should the authentication process look like? I tried using my handler from main via form_login : login_path , etc, but it says it does not follow the ^oauth/v2/ pattern.

I'm able to create clients and on command shell

[2018-10-14 03:07] DPerkunas commented on #583
+1 for this. I like this idea.

[2018-10-14 08:36] DPerkunas commented on #594
Figured it out.

[2018-10-14 08:36] #594 closed

[2018-10-25 18:30] suchith6982 opened #595 "User is null even after authentication"
Hi,

I'm using FOSOAuthServerBundle and FOSUserBundle. I can successfully get the Auth code and the Auth token from the code. But even after getting the auth token, the user is null when trying to use $this->getUser(). In access token table, the user_id is also null. I'm using authorization_code as the grant_type. I'm using two databases in my project. The users table is in one database and the ac

[2018-10-26 09:42] leroy0211 commented on #365
This is a very old ticket but I don's storing your access_tokens in a database is bad idea. What are you going to do when a token needs to be refreshed? You still need all the same scopes from the previous access_token to determine the scopes of the new access_token.

However, I agree with @dkarlovi. When accessing a resource when using a JWT token it will reduce the amount of Database access, sin

[2018-10-26 10:58] stof commented on #365
@leroy0211 you will still need to reach the DB when validating the OAuth token. Otherwise, revoking does not work (when you revoke a token, the JWT token stays valid, so revocation won't be effective if you only rely on getting a valid JWT token)

[2018-10-30 11:11] glennthehuman commented on #279
Did you ever come back from that holiday?

[2018-10-30 18:21] karser commented on #557
Looks like  `'FOSOAuthServerBundle:Authorize:authorize.html.'` has to be replaced with `'@FOSOAuthServer/Authorize/authorize.html.'` in [AuthorizeController](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/1.6.1/Controller/AuthorizeController.php#L178) as of [symfony 4.1](https://symfony.com/doc/4.1/templating.html#referencing-templates-in-a-bundle) documentation

[2018-10-31 10:18] #488 closed

[2018-10-31 17:00] thomas-hiron opened #596 "Remove bearer from request hardcoded in firewall listener"
I'd like to use the bearer token in `kernel.request` event but it comes that `OAuthListener` deliberately removes it, why?

https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/Security/Firewall/OAuthListener.php#L65

How can I bypass that behavior?

Thanks!

[2018-10-31 17:40] thomas-hiron commented on #596
Here is my workaround...

[code]

[code]

[2018-11-29 21:22] Trekels opened #597 "Remove dependency on random_compat < 1.x"
The dependency on `random_compat` was introduced in version 1.6 [see here](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/518), but it allows the installation of versions lower then 2.x

This introduces a vulnerability issue referenced here [here](https://github.com/paragonie/random_compat/issues/96)

Requested is to to remove the `^1` reference.

[2018-12-28 08:10] zkday commented on #556
we meet the issue with Symfony 2.8. Any solution to support?

[2018-12-28 12:33] er1z commented on #556
@zkday — I'm afraid unsupported version of Symfony will remain also unsupported here. The only thing I came across is to create own `CompilerPass` for this definition and bind everything manually. Don't remember if 2.8 also allows to bind a particular parameter as in newest editions but creating a compiler pass should give you a workaround.

[2019-01-02 05:15] wkjameel commented on #545
@ibogdan94 How did you solve this issue.
My facing same issue and getting no clue what i am doing wrong. Please share your fix.  I am using SF4

Thanks in advance.

[2019-01-12 14:51] #447 closed

[2019-01-14 20:21] DiegoJohan commented on #581
Hi everyone, some solution for this issue? I have the same problem

[2019-01-22 10:53] koso00 opened #603 "Doctrine does not extend FOS\OAuthServerBundle\Entity\Client From App\Entity\User\Client"
Symfony 4.1

[code]

When i use "doctrine:schema:update" everything is ignored , only id and type field are written on the database.

[2019-01-23 15:37] GuilhemN commented on #581
Fix merged and released https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/releases/tag/1.6.2

[2019-01-23 15:37] #581 closed

[2019-01-24 15:36] johndoudou commented on #328
Hi, i'm having the exact same issue today.
The PR seems to have been merged in Sylius project, but didn't get through the FOSOAuthServerBundle ?

Is there a reason for that ?

[2019-01-25 07:32] er1z commented on #328
Probably due not to make backward-incompatible changes.

[2019-01-25 07:33] dkarlovi commented on #328
It can get merged in master which will be 2.x.

[2019-01-28 17:20] kapcus opened #604 "Extend OAuthStorage with LDAP"
Hi,

I would need to extend **OAuthStorage checkUserCredentials** method with a lookup into LDAP

original code:
[code]

suggested code:
[code]

Please suggest what is the best way how to extend OAuthStorage class - i.e. to **inject LDAP service including its configurations** and how to **change the checkUserCredentials method** properly

Why? Our users are stored in LDAP (username and password) a

[2019-01-29 18:06] kapcus commented on #604
I found example config file and based on it I have learned that I can extend Storage which resolved my problem (see below). But still I am not sure if I had put the LDAP logic into correct place - for example if "chain provider" or something similar wouldn't be better, who knows. Also FOSUserBundle is not necessary for me, I will try to eliminate it later as well as better configuration/parameter

[2019-01-29 18:06] #604 closed

[2019-01-30 18:43] soarfalc commented on #545
remove in_memory: { memory: ~ } from providers in security.yml. It works fine for me

[2019-02-01 13:06] jorenvh1 commented on #439
Encountering this same exact problem. Can anyone explain why this happens and how to properly solve it?

[2019-02-06 08:48] slik95 opened #606 "Class "FOS\OAuthServerBundle\Entity\RefreshToken" sub class of "FOS\OAuthServerBundle\Model\RefreshToken" is not a valid entity or mapped super class."
Hello, i have a problem when trying to install FOSOAuthServerBundle on symfony 4.2.

To start I have this error :
The class 'FOS\OAuthServerBundle\Model\RefreshToken' was not found in the chain configured namespaces

So I try to use the custom_mappings in doctrine.yaml by adding this:
            FOSOAuthServerBundle:
                is_bundle: true
                type: annotation

Then I have Cl

[2019-02-10 13:24] zpete opened #607 "Controller "fos_oauth_server.controller.authorize" does neither exist as service nor as class"
Hi. I try to use `FOSOAuthServerBundle` in Symfony 4.
I use `dev-master` and get the following error when accessing the route `oauth/v2/auth`

[code]

My Configs:

[code]

[code]

[code]

[code]

Any idea why the controller could not be found?

Thanks a lot!

[2019-02-11 17:24] ravigohil999 opened #608 "/oauth/v2/auth returns 404"
Hello Guys,
                 I am getting this error after I tried to force Symfony 4 to use HTTPS always.
The error is not being logged in the Symfony 4 var/log/
All, I see in the console the error in the screenshot. Any help is appreciated guys. I am stuck.

![image](https://user-images.githubusercontent.com/18162800/52581072-bfd39f80-2df7-11e9-8dca-b8b3ff4a7eaf.png)

[2019-02-11 17:26] ravigohil999 commented on #608
I also get
auth:1 Failed to set referrer policy: The value '' is not one of 'no-referrer', 'no-referrer-when-downgrade', 'origin', 'origin-when-cross-origin', 'same-origin', 'strict-origin', 'strict-origin-when-cross-origin', or 'unsafe-url'. The referrer policy has been left unchanged.

[2019-02-12 13:21] ravigohil999 commented on #608
The problem is fixed. The problem was invalid client detail (ID was wrong). Shit, wasted a lot of time on it.

[2019-02-12 13:21] #608 closed

[2019-02-15 14:48] SDPrio opened #609 "Manually authenticate user with given AccessToken (from Amazon Alexa)"
Hi,

I am working on creating an Amazon Alexa Skill which allows users to query data from their user account at my `Symfony 3.4` based web service.

The user management and authentication in my Symfony project is handles uses `FOSUserBundle`. Linking the Skill to an user account using the `FOSOAuthServerBundle` was no problem. However, the Alaxa calls always use the same endpoint, no matter if an

[2019-02-20 16:49] Noido opened #611 "resolve"

[2019-02-24 16:38] justincletus commented on #545
It is also working for me too. thanks.

[2019-02-25 19:21] konshensx16 commented on #607
Hello there mate, I hope you're doing well :)

I just wanted to ask you if you ever solved this, I'm getting a similar error in Symfony 4 and I've been through the whole documentation but couldn't find anything (Unless I'm not looking in the correct place)

Thanks in advance  :)

[2019-02-26 10:45] zekjamel commented on #542
Hi they are "onDelete" constraints, thanx

[2019-02-26 10:45] #542 closed

[2019-03-08 08:28] #102 closed

[2019-03-12 11:15] nclavaud commented on #266
According to [RFC6749 (section 2.3.1)](https://tools.ietf.org/html/rfc6749#section-2.3.1), the `client_secret`, when omitted, should be considered an empty string:
[code]

I guess it could be fixed in library [oauth2-php](https://github.com/FriendsOfSymfony/oauth2-php) where [`getClientCredentials`](https://github.com/FriendsOfSymfony/oauth2-php/blob/1.2.3/lib/OAuth2.php#L1060) should fall back to

[2019-03-13 14:37] nclavaud commented on #282
Mapping allows an empty string, though.

For the record, I solved the very same problem by:
- setting the secret to an empty string for non-confidential clients (javascript or mobile apps);
- extending the `Client` class and overriding the `checkSecret` method like so:

[code]

[2019-03-14 13:50] er1z commented on #609
EventListener?

[2019-03-25 17:28] arnofo commented on #557
Hey guys,

I can tell the change mentionned by @karser has been merged on the master branch for quite some time now. (#564 )

When can we excpect a new release ?

Thanks !

[2019-04-04 12:01] thePhrenologist commented on #607
try
`fos_oauth_server: authorize: true
`

[2019-04-12 03:14] sam09torres opened #612 "FOSOAuthServer can't access authorization page"
0

I'm using Symfony 4. I'm using API Platform and FOSOAuthBundle. I can create a client and make a token but I can't access to Authorization Form

#security.yaml
##
    firewalls:
    dev:
        pattern: ^/(_(profiler|wdt)|css|images|js)/
        security: false

    oauth_token:
        host: api.forheavent.test
        pattern:    ^/oauth/v2/token
        security:   false

    oauth_authoriz

[2019-04-15 09:43] Noido opened #613 "How access api protest without access_token"
Hey i have a question, i want access to my oauth secure route without access_token but without access_token how can i do that ?

It s for a partner, i dont want that they have to login an user account for access ressource and i don t want let ressource visible without protection.

So i need to do something like /api/ressource with
client_id =client_id and client_secret=secret

Can you help me plz

[2019-04-17 12:49] er1z commented on #613
Honestly, I don't get what you want to achieve. Have you followed the manual and tutorials covering OAuth process? Show the code you written.

[2019-04-25 06:07] #544 closed

[2019-05-13 08:44] itinance commented on #439
For me the same happened after requiring Guzzle in a Sylius-Project and initiate an instance of Guzzle/Client. Strange thing.

[2019-05-14 11:33] ngoodwin14 opened #614 "Cannot override FOSOAuthServerBundle Controller tokenAction method"
I am using the following packages:

[code]

I am attempting to override the tokenAction method of the FOSOAuthServerBundle package, but I am getting stuck on the error:

[code]

I have tried several different approaches (autowire, auto-injection), but I keep coming full circle back to the error described above. It seems that the "use OAuth2\OAuth2;" reference is properly namespaced in the bundle's

[2019-05-14 19:40] #614 closed

[2019-05-28 21:43] alister commented on #597
This can also be updated to include '^2|^9.99'. The v9.99 is a no-op version of the library as the functions are already provided on PHP7. See https://github.com/paragonie/random_compat#version-99999

[2019-06-03 08:38] drekinov commented on #578
what is the idea behind symfony 5.0 and 4.3 support deprecation free?
Right now Symfony 4.3 is throwing deprecations because of use of "templating" and it seems not possible to disable "templating" and have deprecation free 4.3 because bundle rely on the templating and symfony is checking for templating service before fallback to `twig`.

[2019-06-03 19:31] ravigohil999 commented on #460
Hello, I still have the same problem.  I keep on getting this error for a new client.
{"error":"redirect_uri_mismatch","error_description":"The redirect URI is mandatory and was not supplied."}

I did not have similar problem with the previous clients that I created. Is there any configuration that I must check to fix this problem?
I created the client through commandline. Then I am using browser

[2019-06-04 08:13] meshenka opened #615 "Q: how to plug in multiple user entity?"
Sf4.3 with an old legacy code base and db.
We want to setup Oauth Server, the issue is the legacy code base got 3, may be 4 "user" entities (in different tables, using different login process : login+ pass, email+pass, phone+pass).

I can't see a clean way to setup my AccessToken entity to make this thing work.

So far i see 2 "ways":
  * Multiple AccessToken entities, but cannot see how to config

[2019-06-15 19:23] potasiyam opened #616 "Symfony 4.3 triggers deprecation errors because of dependency on templating"
Symfony 4.3 has deprecated templating component integration and will be removed in Symfony 5.
https://symfony.com/blog/new-in-symfony-4-3-deprecated-the-templating-component-integration
Right now it triggers deprecation errors when running tests. Is there any plan in near future on new implementation without the dependency on templating?

[2019-06-20 10:44] alphaqbits commented on #279
Any update on this issue? Is there any way we can prevent the user from getting the token other than custom user providers?

[2019-06-27 23:32] danielkeho11 commented on #488
The league one have a [bundle](https://github.com/trikoder/oauth2-bundle) now.

[2019-06-27 23:34] danielkeho11 commented on #488
The league one has a [bundle](https://github.com/trikoder/oauth2-bundle) now.

[2019-07-04 06:41] crmpicco opened #618 "The spaceless tag in FOSOAuthServerBundle::form.html.twig at line 3 is deprecated since Twig 2.7, use the spaceless filter instead"
On the latest version of the bundle there are deprecation messages appearing around deprecated Twig functions.

Are there fixes for these available or would you consider a pull request?

[2019-07-09 08:33] alcaeus commented on #618
Closing in favour of #616.

[2019-07-09 08:33] #618 closed

[2019-08-08 16:57] elchris commented on #501
So this is where things get interesting:
https://symfony.com/blog/new-in-symfony-4-3-deprecated-the-templating-component-integration

"templating" is deprecated from framework config

[2019-08-15 17:13] AntoniusGolly commented on #402
@bpotard your solution is a life saver. You should write an article about it as the package is still lacking a native solution. Thank you.

[2019-08-26 07:24] alcaeus opened #625 "[2.0] Support for Symfony 5.0"
This serves as an epic to collect all issues and pull requests arising with Symfony 5 support.

[2019-09-03 08:17] abdul-jabbar01 opened #626 "OpenId Provider"
I'm still curious for any documentation or any answer that whether this bundle supports **OpenID** and is there any implementation to **use this bundle as an** **OpenId provider**?

Any answers will be highly appreciated

[2019-09-03 08:26] stof commented on #626
OpenId is not implemented in this bundle.

[2019-09-03 08:36] abdul-jabbar01 commented on #626
Is there any type of documentation or some stuff which explains how to upgrade this package for OpenID Provider?

[2019-09-03 08:40] stof commented on #626
No such documentation. And I don't know which kind of work would be needed (I'm not using that bundle).

[2019-09-03 08:43] abdul-jabbar01 commented on #626
Okay. Thanks for your response.

[2019-09-03 08:43] #626 closed

[2019-09-04 08:15] papnoisanjeev commented on #501
@elchris  I m also getting same error
The service "fos_oauth_server.controller.authorize" has a dependency on a non-existent service "templating"
Is there any fix for this problem?

[2019-09-04 08:29] elchris commented on #501
someone just needs to make a patch to tweak this project's templating dependencies, to just hardcode it to using twig templates, instead of referencing the Engine Interface as a dependency, which is basically what's being deprecated.

[2019-09-10 11:11] nasrithamer opened #627 "Remove Allow Deny and redirect directly"
Please how can i remove **Allow/Deny** and redirect directly to URL?
Thank you
![image](https://user-images.githubusercontent.com/13709609/64609116-14f28680-d3c4-11e9-9e35-d0daf737e674.png)

[2019-10-04 14:53] tlemignan-teicee commented on #501
To avoid this error, add simply :

`templating: { engines: ['twig'] }`

in **config/packages/framework.yaml**

[2019-10-05 04:08] papnoisanjeev commented on #501
@tlemignan-teicee  thanks for your support.
I have declared  **templating: { engines: ['twig'] }** before and it was working fine.

[2019-10-08 20:26] git-chrisp opened #628 "ensure_logout with CSRF Token"
The ensure_logout functionality does not work in combination with the CSRF token as the controller invalidates the session before validating the form, hence the form is always invalid. Should be an easy fix.

[2019-10-09 15:05] abn117 opened #629 "1 passed to Symfony\Component\Security\Core\User\UserChecker::checkPreAuth() must be an instance of Symfony\Component\Security\Core\User\UserInterface, string give"
Hi, i'm on symfony 4.3.3 application and i'm using FosoauthServerBundle with Fosuserbundle.
When i'm try to challenge my api on localhost i get this error message : `Argument 1 passed to Symfony\\Component\\Security\\Core\\User\\UserChecker::checkPreAuth() must be an instance of Symfony\\Component\\Security\\Core\\User\\UserInterface, string given, called in /var/www/seris-api-extranet/vendor/frie

[2019-10-10 13:47] duxor commented on #545
Yeah, if you have multiple registered providers you need to define a provider.

[2019-11-03 11:57] plamenh commented on #501
Any news here? This month we get Symfony 5.0 and this is a breaking issue.

[2019-11-07 06:16] jllaurado opened #632 "Problem with second client"
I'm having an issue with the deployment of the server and I'm stuck trying to solve it.

I have configured a server with no problems, and I have configured also a client without problem either, but when I add a **second** client, the authentication process fails in an unusual way, at the end of the process when the client calls the resource owner to get the detail credentials.

Adding a try/catch

[2019-11-07 13:52] OneEyedSpaceFish commented on #625
@alcaeus
Would that be possible to merge all outstanding PRs for 2.0 into a feature branch?
That way it would be possible for people to start testing their own application with symfony 5.0 beta before it's release.

[2019-11-08 08:24] alcaeus commented on #625
I'll do a session to take care of Symfony 5 support next week. Sorry for the delay here, but I've been quite busy with @doctrine packages.

[2019-11-09 22:06] cpjolly commented on #625
I don't see it mentioned elsewhere so please note that the base server library FriendsOfSymfony/oauth2-php will also need a few minor incremental  changes to support Symfony 5. For example, it's composer.json requires `"symfony/http-foundation": "~3.0|~4.0"`

[2019-11-12 11:18] Evertt opened #633 "The mapping file Client.mongodb.xml is invalid"
When installing this package (at version dev-master) I get.

[code]

I checked the file `Client.mongodb.xml` and indeed it says that the attribute `fieldName` should actually be called `field-name`. I was hoping that I could just ignore this error by not using mongodb, but orm instead.

[code]

But that doesn't seem to make a difference. What do I do?

[2019-11-12 11:43] alcaeus commented on #633
Which version of MongoDB ODM are you using? This bundle hasn't been updated for ODM 2.0 yet, which may be the problem you're running into.

[2019-11-12 12:11] Evertt commented on #633
My `composer.json` says `"doctrine/mongodb-odm-bundle": "^4.0"`. Which indeed uses ODM 2.0 I see.

However, when I try to install `doctrine/mongodb-odm-bundle:^3.6` then I get:

[code]

Which confused me at first, because I do have the extension `mongodb` installed in my php. But then I noticed that the error is talking about the extension `mongo`, and not the extension `mongodb`. So I tried runni

[2019-11-12 12:42] alcaeus commented on #633
This bundle was designed for ODM 1.x, which was built around the legacy MongoDB extension. This legacy extension was dropped in favour of a new extension, as a result of which it wasn't ported to PHP 7. ODM 2.0 now uses the new extension, but contains a significant number of BC breaks, for which this bundle still hasn't been adapter (I haven't gotten to that yet).

However, if you want to run this

[2019-11-12 13:01] Evertt commented on #633
Thanks, that worked.

[2019-11-12 13:01] #633 closed

[2019-11-13 09:08] jllaurado commented on #595
Just to be discard things... have you tried to check if on the oauth server side your user is authenticated?

If already is authenticated, I suggest to var_dump on the league/oauth2-client/src/Provider/AbstractProvider.php lines 634...636 to see what you are receiving:
`        try {
            $response = $this->getResponse($request);
        } catch (BadResponseException $e) {
            $resp

[2019-11-13 11:07] sjoerdmaessen commented on #633
I'm having the same issue but for me the adapter doesn't work because the issue really seems to be in the .xml files. If I change fieldName to field-name temporarily in the Vendor directory everything works as expected. Is there a way to override these xml's in a Symfony 4 project?

[2019-11-13 11:16] alcaeus commented on #633
@sjoerdmaessen I believe this is due to the `auto_mapping` setting which automatically loads these. I'd have to play around, but if you're using ODM but not for this bundle, you should disable `auto_mapping` and define mappings manually.

[2019-11-13 11:18] Evertt commented on #469
I'm having the same difficulty. I assume I have something wrong in my configuration, but I don't know what.

Also, since the `access_token` is acquired by `client_credentials`, it is not connected to any `user` and I wonder if that is making symfony think that no user is authenticated...

[2019-11-13 12:20] Evertt opened #634 "How do I authenticate using an access token based on client credentials?"
I retrieve an access token using the `client_credentials` grant type. Then I try to access a protected resource using this access token, but then I always get the error `HttpException : Full authentication is required to access this resource`.

I'm wondering if I set up my config wrongly. Here's my `fos_auth_server.yaml`:
[code]

And here's my `security.yaml`:
[code]

What's also interesting is th

[2019-11-19 10:35] OneEyedSpaceFish commented on #625
@alcaeus
Do you need a hand with the migration?
If you explain what you planned to do, I wouldn't mind taking a look.

[2019-11-19 10:36] alcaeus commented on #625
In a nutshell:
* Update composer constraints to allow Symfony 5
* Ensure Symfony 5 is tested on travis-ci
* Update code to avoid breakages and deprecations due to Symfony
* repeat above until build is stable

If you're interested, please go ahead 👍

[2019-11-19 10:47] OneEyedSpaceFish commented on #625
@alcaeus Are there any pending PRs that you would like to include in this change request?

[2019-11-19 11:33] alcaeus commented on #625
Taking a quick look, you want to check out #599, #610, #617, #619, and #623 - they sound like they could affect this. I'd have to take a closer look to know for sure.

[2019-11-21 09:22] jakub-rompca commented on #501
@tlemignan-teicee @papnoisanjeev  that is NOT the answer since "templating" is deprecated from Symfony 4.3 and is removed from Symfony 5.0.

This is a breaking issue for upgrading.

[2019-11-22 13:15] hhamon commented on #616
Hello!

What's the status of this issue?

[2019-11-24 16:09] cpjolly commented on #625
@alcaeus I can confirm that the issues described in #623 are the same for Symfony 5.0

[2019-11-25 10:16] OneEyedSpaceFish commented on #625
Just an FYI; I started to have a look at this, but there's no much progress made so far, as I'm extremely busy nowadays and have very little time.

So if someone would like to have a look before I can sort this out, feel free to do so.

[2019-12-22 11:40] sci3ma commented on #625
Any updates when we can use FOSOAuthServerBundle with Symfony 5?

[2019-12-23 14:06] OneEyedSpaceFish commented on #625
@sci3ma none from me yet, I've been too busy with work.
Feel free to have a look

[2020-01-17 06:28] elchris commented on #625
I've started some work on my fork here: https://github.com/elchris/FOSOAuthServerBundle/tree/symfony-5

it also references another fork of mine for the oauth2-php project

i just got the tests to "compile", resolved composer dependencies, etc.

- composer install
- ./vendor/bin/phpunit

Errors: 21, Failures: 6, Warnings: 18, Incomplete: 2.

If anyone wants to submit to me a pull request against my

[2020-01-18 01:58] elchris commented on #625
Also this is relevant: https://stackoverflow.com/questions/56438177/deprecated-the-listenerinterface-turn-your-listeners-into-callables-instead in OAuthListener.php as Symfony\Component\Security\Http\Firewall\ListenerInterface was deprecated.

I let Nicolas Grekas know about [this article](https://symfony.com/doc/current/components/security/firewall.html) which still references it.

[2020-01-18 04:56] elchris commented on #625
since we use a deprecated PHPUnit method assertArraySubset, I looked at this https://github.com/sebastianbergmann/phpunit/issues/3494#issuecomment-464464423

and added a reference to https://packagist.org/packages/dms/phpunit-arraysubset-asserts

[2020-01-19 03:56] elchris commented on #625
Now down to:
Tests: 186, Assertions: 446, Warnings: 5, Incomplete: 3.

Still need to deal with deprecated reference to SecurityContextInterface ... not sure why tests aren't failing against that though.

[2020-01-22 23:28] elchris commented on #625
Before I forget: two tests had already been marked as incomplete but I added one more as incomplete: testProcessWithoutExistingTokenStorage:

$this->markTestIncomplete('Find a graceful way to handle what happens when no token storage is available');

[2020-01-25 06:29] elchris commented on #625
ok i'm down to 2 warnings which i can't really find a way to fix so I'll leave them be.

1) FOS\OAuthServerBundle\Tests\Document\AuthCodeManagerTest::testDeleteExpired
Method getQuery may not return value of type Mock_AbstractQuery_84acf880, its return declaration is ": Doctrine\ODM\MongoDB\Query\Query"

2) FOS\OAuthServerBundle\Tests\Document\TokenManagerTest::testDeleteExpired
Class "Doctrine\OD

[2020-01-31 13:13] #230 closed

[2020-02-03 09:55] OneEyedSpaceFish commented on #625
@alcaeus fyi

[2020-02-03 12:49] anboo commented on #625
FYI

[2020-02-04 14:48] jimb00b commented on #616
Hello, any news here?

[2020-02-04 18:00] tienvx commented on #501
My solution for Symfony 3.4 and 4.4 is creating custom recipes for them:
[code]
These custom recipes does not support Symfony 5.0 yet, because FOSOAuthServerBundle does not.

[2020-02-07 14:15] phillylovepark commented on #634
@Evertt I'm curious if you find a solution ?
I am currently thinking about a way to authenticate a PHP application accessing a PHP API. The `client_credentials` grant type seems the way to go in my case.

[2020-02-09 19:15] marekm4 opened #637 "Implicit flow enabled by default for every client"
Hi guys, I have a question about implicit flow. I'm a little confused because I can see that other people tried to use this flow on /token endpoint and failed. And it was said that your library doesn't support public clients. But actually implicit flow doesn't use /token endpoint. It's based on request to /auth with parameter "response_type" set to "token".

You are using friendsofsymfony/oauth2-p

[2020-02-10 07:01] Garfield-fr opened #638 "Installation fails during configuration (Symfony 4.4)"
$ composer require friendsofsymfony/oauth-server-bundle

The installation fails when configuring with the following output:

[code]

[2020-02-10 21:07] patrickbussmann commented on #625
@elchris can you make a pull request? 👍
Looks great.

[2020-02-10 21:53] elchris commented on #625
ok I'll make a pull request shortly, and ya'll can let me know later what you want me to do for oauth2-php

[2020-02-10 21:56] patrickbussmann commented on #625
Yes please make for both repositories because we need for installation 👍

[2020-02-13 17:30] elchris commented on #625
ok sounds good, I'll try to do it later tonight.

[2020-02-13 18:47] iisisrael commented on #625
@elchris I'm working through some clean-up forked from your fork, and I'm wondering why the Symfony templating component was removed from the `AuthorizeController` service configuration?  The component itself is still supported in v5, only deprecated from framework integration in 4.3.

This _could_ be changed to depend on `Twig\Environment` instead, but that's a BC break not required for Symfony 5

[2020-02-13 19:00] elchris commented on #625
I can look at it, and of course, I can't speak for the maintainers of this package but I **imagine** that the goal would be to arrive at something that is compatible **and** deprecation-warning-free in a 4.4/5.0.* context, such that a new release might be cut from it, which is backward-incompatible with anything earlier than 4.4?

But I'm definitely open to suggestions because I'm more or less "fl

[2020-02-13 21:07] iisisrael commented on #625
@elchris I poked around a bit for a solution, but it seems that trying to hand-roll a templating service would be a bit beyond the scope of S5 compatibility.  That could be a future improvement if someone wanted to do that or otherwise add a third-party templating service.  Twig it is.

I also clarified the authentication listener handling, which shouldn't ever have been expected to return anythin

[2020-02-13 21:21] elchris commented on #625
Oh that's very cool. I'll try to look at it and merge it in tonight, thank you so much for doing this.

[2020-02-14 01:38] elchris commented on #625
@iisisrael I merged your PR into my branch, thank you.

[2020-02-14 02:20] elchris commented on #625
- I made a PR for [oauth2-php](https://github.com/FriendsOfSymfony/oauth2-php/pull/119)
- I made a PR for [this project](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/639)

Still working on some cleanups on both.

[2020-02-14 04:02] elchris commented on #625
@iisisrael I just realized they had phpcs and phpstan hooked-up in their CI so I made some updates to travisci config file, applied php-cs-fixer to fix all phpcs issues, but now i'm working thru a flurry of phpstan fails and it's going to take me a while but i'll be committing incrementals.

=> TL;DR: be sure to pull again from my origin into your branch :)

[2020-02-14 04:21] elchris commented on #625
@iisisrael I added "composer commands" in the "scripts" section of composer.json so now we can:

- composer test
-- ./vendor/bin/phpunit
- composer lint
-- ./vendor/bin/php-cs-fixer fix .
- composer phpstan
-- ./vendor/bin/phpstan analyse --configuration phpstan.neon --level 6 .

[2020-02-14 19:15] elchris commented on #625
@iisisrael I'll try to tackle as many of the phpstan issues as possible over the weekend. It would appear that all those issues have been around for quite some time, but I'd like to get their CI to pass again.

[2020-02-14 22:58] iisisrael commented on #625
Made some functional test improvements, will continue over the weekend, and clean up the lint and phpstan results.

[2020-02-14 23:25] elchris commented on #625
@iisisrael that's great I merged your pull request.

**lint requests should already be clean**.

Priority-wise you might consider:

1. switching my getter/setter additions to production code to reflection class references in tests
2. look at the incomplete tests or just ignore them for now
3. look at phpstan improvements. But if you're busy with the above two I can work on phpstan stuff. What I ca

[2020-02-16 01:35] elchris commented on #625
@iisisrael I'm removing the reference to DefinitionDecorator in OAuthFactory test because [it was deprecated as of Symfony 3.3](https://symfony.com/blog/new-in-symfony-3-3-dependency-injection-deprecations)

[2020-02-16 03:29] elchris commented on #625
@iisisrael Updates:

**Please be sure to pull from my branch**

I've cleaned-up a lot of obvious "return type missing" phpstan issues starting from the bottom up, mostly in the tests, and there are still a bunch of those starting from the top in the production code,  but overall, in the tests we're still left with a ton of issues like:

- some assertion will always evaluate to false
- result of vo

[2020-02-19 01:22] iisisrael commented on #625
@elchris, reflection property assertions implemented, removing the getters.

Up next, will fix MongoDB test configurations, where tests are failing with warnings on mocked query builder return value, which can't be mocked (ODM query is a final class) and can't return an ORM query object (return type constraint).  I'm pretty sure mongo can be configured in the Symfony test environment to run with t

[2020-02-19 03:32] elchris commented on #625
@iisisrael Thank you for your work, I just merged your pull request into my branch.

[2020-02-19 15:55] patrickbussmann commented on #625
Thanks @elchris but I found a issue with anonymous users.
I fixed it here and added a test case but I'm not able to create pull requests.
I already informed GitHub about this issue.

https://github.com/patrickbussmann/FOSOAuthServerBundle/tree/symfony-5-anonymous-access
And now I cant upload pictures because of error message.
I will create a pull request as soon as GitHub fixes the issue.

Else yo

[2020-02-25 08:42] AntoniusGolly commented on #614
May I ask you how you solved the problem in the end?

[2020-02-27 09:52] andrzej-tracz commented on #370
Same here,
A workaround for this is to alias `Symfony\Component\Security\Core\User\UserProviderInterface` to `fos_user.user_provider.username_email`

[code]

[2020-03-01 11:49] cpjolly commented on #625
@elchris - I see all the excellent work done by yourself and the other guys, but what's the status of your [fork](https://github.com/elchris/FOSOAuthServerBundle/tree/symfony-5) ? Any idea when it will be "ready" and your changes will show up here ?

[2020-03-01 18:28] elchris commented on #625
Hi @cpjolly :) As mentioned [here](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/issues/625#issuecomment-586065721)  I did make a pull request from my fork, but I have not yet heard from the maintainers of this project. So I have no idea if and when this will ever get mainstreamed.

And yes for now I would say that it is a good idea to [keep using my fork](https://github.com/FriendsOfSy

[2020-03-01 18:36] elchris commented on #625
What would be helpful:

1. For more people to test my fork in their projects, and report back in this thread to tell us what works and what doesn't.
2. If bugs are found, for people to submit pull requests to my fork, and I will review them and merge them
3. To send-in pull requests for "code cleanups" of issues reported by PHPStan, by running **[composer phpstan](https://github.com/FriendsOfSymfo

[2020-03-24 15:44] trangvt commented on #614
@AntoniusGolly I did it, but got this error on v3.4

`Type error: Too few arguments to function MccpAuthBundle\\Controller\\OauthController::__construct(), 0 passed in vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Controller/ControllerResolver.php on line 200 and exactly 1 expected`

[2020-03-30 18:49] er1z commented on #614
Could you show a repo with app?

[2020-04-01 06:40] arekmalek1 commented on #633
@alcaeus I would like to use ODM version 2.0 in my project. When are you planning support for ODM ^ 2.0?

[2020-04-01 11:59] alcaeus commented on #633
@arekmalek1 I am not working on this project anymore, as my current workload does not allow for it. If you are interested in using this with 2.0, I encourage you to create a pull request with the necessary changes. If you need help with the migration from 1.x to 2.0, you are welcome to ping me in the Symfony Slack, but be aware that my responses may be delayed.

[2020-04-09 11:13] patrickbussmann commented on #638
Did you followed the documentation for setting up the bundle?

    The child node "db_driver" at path "fos_oauth_server" must be configured.

https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/blob/master/Resources/doc/index.md#step-5-configure-fosoauthserverbundle

Follow the setup instructions please.
First you need to create the entities for access token, ... and then you need to set up t

[2020-04-20 15:03] softrare opened #640 "Question about fos_auth_server.yaml"
Hi! I have a web application referring a user to a separate identity provider application to log in through username/password which sends back an access token and the user gets logged in. The identity provider application has a "dummy" 2FA implementation which I would like to replace, e.g. with an extra Google Authenticator step using https://github.com/scheb/two-factor-bundle.

In my fos_auth_ser

[2020-04-29 09:44] DeChaun opened #641 "Security fix for FriendsOfSymfony/oauth2-php"
Hi there

FriendsOfSymfony/oauth2-php has released a minor update to fix a [security issue](https://github.com/FriendsOfSymfony/oauth2-php/pull/121).

Am I right to suggest this bundle should update its composer requirements for the oauth2-php bundle to version 1.3.0?

Thanks in advance!

[2020-06-04 15:05] sabat24 commented on #625
I found one issue in the architecture of OAauth2.php lib. I think that [GrantAccessToken](https://github.com/elchris/oauth2-php/blob/symfony-5/lib/OAuth2.php#L683) method shouldn't return the whole response. It should return a newly created token and there should be another method which could build the response.

If I want to override a tokenAction inside my own controller and make some other stuf

[2020-06-15 12:34] NielsJanssen commented on #625
@elchris

I've installed your fork and have been using it in a very basic OAuth implementation, so far without issues.

[2020-07-10 17:01] tmarly commented on #625
Just for information, I am using this fork since one month (not in production yet), using the authorization code flow, and I found no issue.
Great job @elchris !

[2020-09-17 15:38] deguif commented on #616
Closing as it was done in #653

[2020-09-17 15:38] #616 closed

[2020-09-17 17:05] #611 closed

[2020-09-17 17:06] #579 closed

[2020-09-17 17:07] #597 closed

[2020-09-18 18:16] deguif commented on #625
Symfony 5 is now supported in master branch.
An alpha 2 version will be tagged in the coming days.

[2020-09-18 18:16] #625 closed

[2020-09-18 18:40] elchris commented on #625
@deguif - did i still need to rebase my fork, or are you good now that you have fixed it into master?

[2020-09-18 18:42] deguif commented on #625
@elchris would be nice if you can rebase as that would allow to see other changes you introduced.
But the better would be that you open small PRs with specific changes ;)

[2020-09-21 09:38] #478 closed

[2020-09-21 09:40] deguif commented on #478
It's now supported in master branch, see #660

[2020-09-28 11:50] lebadapetru commented on #625
Hey guys, using symfony 5 and i tried to install this bundle but i get the following:

`The child node "db_driver" at path "fos_oauth_server" must be configured.`

I've added this into my composer.json:
`
{
    "friendsofsymfony/oauth-server-bundle": "dev-master"
}`

[2020-10-13 10:34] cpjolly commented on #625
Hi @elchris, hi @deguif,
I did a comparison of head with the [changes](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/compare/master...elchris:symfony-5) in the folk from @elchris. Most seem to have already been implemented in master, so a rebase & smaller PRs of the remaining changes looks like a good idea

[2020-10-21 13:25] ahocquard commented on #439
@GSokol Thanks for the hint, I didn't get what you explained at first

If it can help:
- remove vendor/friendsofsymfony/oauth-server-bundle/Propel/*
- then re-execute the code triggering the issue
- the error should be much more explicit of what is the root cause of this issue

[2020-12-07 15:21] sterichards commented on #501
The problem is that `fos_auth_server.yaml` does not exist until you successfully install the bundle

[2021-01-21 09:00] loic425 commented on #433
@deguif
I've also this issue. Is there is a way to translate invalid grant error messages?

[2021-02-23 08:06] cpjolly opened #671 "Time for a new release ?"
The last official release was 23 Jan 2019. The last change to Head was 22 Oct 2020.

Is it possible for a maintainer to please make a new release ?

I'd love change my composer.json from "dev-master" to perhaps "^1.8.*" or "^2.0.*" because it is against our company policy to use "dev-master" repositories in production.

Many thanks

[2021-03-02 15:55] mjankowskitech opened #672 "PHP8 support"
Are there any plans to add support for PHP 8?

[2021-03-18 17:26] softrare opened #673 "How to get OAuthToken instead of UserPasswordToken?"
I want to get the AccessToken after the user authenticated.

        $token = $tokenStorage->getToken();

        if($token instanceof OAuthToken) {
            /** @var AccessToken $accessToken */
            $accessToken = $accessTokenManager->findTokenByToken(
                $token->getToken()
            );
        }
Unfortunately the $token is always UsernamePasswordToken never OAuthToken so

[2021-03-19 15:27] softrare opened #674 "How to add a custom Authentication Provider"
I have a project taken over from someone who tries it with a custom compiler pass:

    public function process(ContainerBuilder $container)
    {
        $definition = $container->getDefinition('security.authentication.provider.custom');
        $definition->setClass(CustomAuthenticationProvider::class);
    }

but it doesn't work, meaning the CustomAuthenticationProvider isn't called. How to do

[2021-03-25 15:17] vasilvestre commented on #672
https://github.com/FriendsOfSymfony/FOSOAuthServerBundle/pull/675 here's a first attempt, I've fixed dependencies issues

[2021-04-14 14:43] BazylPL commented on #671
Seems like no one cares anymore ;|

[2021-04-16 07:16] deguif commented on #671
@BazyIPL @cpjolly A new `2.0` release is not planned for a near future (many things to adapt, opportunity to add BC breaks, ...).
In the mean time, if you want to contribute, you can open PRs targetting the master branch.
You can specify the `2.0.x-dev` version in your composer.json to use the `2.x` development branch.

[2021-04-16 09:01] cpjolly commented on #671
Hi @deguif,
We are not supposed to use -dev releases in production. I understand 2.0 is not planned for the near future. But how about a 1.x release to include some of the changes since 23rd Jan 2019 ?

[2021-04-16 11:31] Gonzalo1987 commented on #671
I'm waiting the same, I would be really happy if a new 1.x release came.
Thank the developers for the efforts anyway, it's a incredible bundle!!

[2021-04-22 20:52] fliespl commented on #641
@DeChaun From what I see - it's not really a security fix, but simply a bug fix.

It failed to allow redirectUri under certain scenario, but it should (not the other way around - that's why it's not security fix).

[2021-04-23 07:07] vasilvestre commented on #672
Now can be closed

[2021-04-23 10:20] #672 closed

[2021-04-23 10:21] deguif commented on #641
Let's close now it was released

[2021-04-23 10:21] #641 closed

[2021-04-30 14:50] alanhartless opened #682 "2.0 timeline and next tagged release?"
Hi!

I apologize if there is a better place for posting this but I struggled to find the right place or something up to date.

Is there a timeline for the 2.0 release? Or at the least, do you have the next tagged release planned (seems the last was alpha tagged in 2018).

Our project is looking toward PHP 8 support but have a dependency on FOSOAuthServerBundle for our APIs and thus need to use the

[2021-09-11 10:03] fliespl opened #683 "Suggested way to handle deactivated users"
We are using oauth2 server to authorize our users into internal applications.

Till now - leaving employee was deactivated and his access_token + refresh_token removed (once access token  expired after 3600 seconds he was logged out in internal applications).

I am curious if there is a better way to handle it. I.e. using UserChecker and fail to refresh token once deactivated user tries to refresh

[2021-10-28 05:28] pankujoshi opened #686 "With symfony 4.4 I'm getting Argument 1 passed to FOS\OAuthServerBundle\Entity\ClientManager::__construct() must be an instance of Doctrine\Common\Persistence\ObjectManager"
Argument 1 passed to FOS\OAuthServerBundle\Entity\ClientManager::__construct() must be an instance of Doctrine\Common\Persistence\ObjectManager, instance of ContainerDvhWaed\EntityManager_9a5be93 given, called in C:\xampp\htdocs\rest_with_oauth\var\cache\dev\ContainerDvhWaed\srcApp_KernelDevDebugContainer.php on line 4362

![image](https://user-images.githubusercontent.com/38710589/139192296-537df

[2021-11-08 17:11] kadryjanek commented on #686
For `SF4` please update `FOSOAuthServerBundle` to `dev-master` version. This version is using `EntityManagerInterface` instead of `ObjectManager`.

[2021-11-18 02:09] stopfstedt commented on #671
would like to upgrade to Symfony 5, could we please get a new release (assuming this is ready to be shipped)? Thanks.

[2021-12-07 09:30] dioniswe commented on #682
I'd also like to get this addressed:
Is there a beta or stable version available or upcoming.
Also for me this is needed for the decision to upgrade to PHP-8 or switch to a PHP-8-supported OAuth-Server-Library.

[2021-12-16 17:58] AbdallahOuahib commented on #588
What is the mistake, it can help others

[2022-01-13 16:32] 4rthem opened #688 "OAuthToken with null user is not authenticated anymore since symfony 5.4"
I'm using `->isGranted('ROLE_SCOPE1')` to authorize a machine token so there is no user context.

Since Symfony 5.4, [AuthorizationChecker](https://github.com/symfony/symfony/blob/d9cd41cc4bb3df9e908b30b8f95dc11fa9695643/src/Symfony/Component/Security/Core/Authorization/AuthorizationChecker.php) relies on `getUser()` instead of `getToken()` which make user-less access tokens not authenticated (cf

[2022-01-18 10:16] LeoAdamek commented on #688
I'm also having this issue, specifically when using a `client_credentials` grant. Is there a workaround for this, perhaps setting the user to the oauth application itself?

[2022-02-02 09:19] igorrebega commented on #671
@deguif Do you need any help with the release?
Or this package is more in an abandoned state and we should consider removing it from our projects?

[2022-02-02 12:08] deguif commented on #671
@igorrebega before releasing a new major version (from master), CI should be fixed and probably migrated  to Github Action (the phpunit part).
If you have time to work on this, you're more than welcome ;)

[2022-02-07 17:43] vladimir-light commented on #688
@4rthem , @LeoAdamek

I agree, it's very odd, especially for `client_credentials` grant where technically no user exists.

My quick and **dirty** solution was to override `vendor/friendsofsymfony/oauth-server-bundle/Security/Authentication/Provider/OAuthProvider.php` with my own. Actually, I only needed to adjust the  `authenticate()` method, so I could create a "dummy-user" (something which imple

[2022-03-24 09:02] woydadrien opened #691 "PHP 8 Deprecated on getAlias Method"
On PHP 8 we have this deprecation message  :

**2022-03-18T09:39:46+01:00 [info] User Deprecated: Method "Symfony\Component\DependencyInjection\Extension\Extension::getAlias()" might add "string" as a native return type declaration in the future. Do the same in child class "FOS\OAuthServerBundle\DependencyInjection\FOSOAuthServerExtension" now to avoid errors or add an explicit @return annotation

[2022-05-19 08:15] daniel-plewinski opened #693 "Symfony 6.0 compatibility"
Does not seem to work with Symfony 6.0 and PHP 8.1. Is an upgrade planned?

[2022-05-23 08:23] Gregoire-M opened #694 "PKCE flow support?"
Hello,

Do you consider adding support of [RFC 7636: Proof Key for Code Exchange](https://oauth.net/2/pkce/)?

Thanks!

[2022-07-10 06:06] zyphlar opened #695 "Errors found when auto_mapping is disabled and I didn't heed the instructions about mappings"
Just for posterity since I thought I was going crazy:

If you get errors like

`Unrecognized field: randomId`

for your `/oauth/v2/auth` page, or perhaps

`{"error":"redirect_uri_mismatch","error_description":"The redirect URI provided does not match registered URI(s)."}`

when you get past that error, the problem is that `FOSOAuthServerBundle` needs to be in the Doctrine mappings so that base mod

[2022-07-11 18:38] INHack20 commented on #688
+1

[2022-07-14 18:22] spin7ion opened #696 "SF4 mongodb not finding odm"
I'm trying to update from SF3 to SF4 and i'm getting strange error:

` The service "fos_oauth_server.client_manager.default" has a dependency on a non-existent service "doctrine.odm.mongodb.document_manager". `

Here is my composer.json:
`"php": ">=7.0.0",
        "symfony/symfony": "4.*",
        "symfony/process": "*",
        "symfony/orm-pack": "*",
        "symfony/webpack-encore-bundle": "*"

[2022-08-08 09:39] 4nkitd commented on #691
facing similar issues any solution or workaround available?

[2022-08-31 08:23] aanair08 commented on #696
Any Solution?

[2022-09-01 19:54] drekinov commented on #693
meanwhile ...
you can give https://github.com/klapaudius/FOSOAuthServerBundle a try.
i just found it and seems maintenaned fork (drop-in upgrade).

My app is still limited to 5.4 because of fos oauth BUT with version 3.0.0 it works AS IS with old authentication system.
Following days will migrate to new authentication and push forward for Symfony 6.1.4.

[2022-09-01 20:07] drekinov commented on #693
meanwhile ...
you can give https://github.com/klapaudius/FOSOAuthServerBundle a try.
i just found it and seems maintenaned fork (drop-in upgrade).

My app is still limited to 5.4 because of fos oauth BUT with version 3.0.0 it works AS IS with old authentication system.
Following days will migrate to new authentication and push forward for Symfony 6.1.4.

[2022-09-02 04:42] daniel-plewinski commented on #693
Thanks for your suggestion.

[2022-10-27 20:31] iisisrael commented on #693
Working on it [here](https://github.com/iisisrael/FOSOAuthServerBundle/tree/symfony-6-clean).  Builds on #685.  Trying to maintain BC support for Symfony 5.3, but that might be a lost cause.  Branch / version management on this package could navigate that.

[2022-11-02 20:05] theofidry opened #698 "Officially deprecate the package"
I think this package is pretty dead _and_ there is a good replacement https://github.com/thephpleague/oauth2-server-bundle

Since this package is _heavily_ used (over 5k daily installs still – without counting all the forks that just did a patch left and right to add support to a different doctrine or symfony version), I think an official statement and migration docs are in order.

My suggestion w

[2022-11-04 17:00] pierredup commented on #698
I'm not a maintainer of this package, but I would be happy to take over maintenance and continue development of this package, even if it's just to ensure compatibility with the latest Symfony and PHP versions and to provide a migration path to thephpleague/oauth2-server-bundle

[2022-11-18 19:10] willdurand commented on #698
I am not too into PHP or Packagist anymore these days.. Maybe @stof still is and IIRC he had access to that package on Packagist. Sorry.

[2022-11-19 09:16] theofidry commented on #698
Thanks for the reply!

I figured, it was more because of perm. issues than anything, sorry I should have checked with stof first!